# 实习一：数据库应用案例设计

成员：吴悦欣1900012946  赵衔麟1900013063  张介宾1900013359

In [1]:
%load_ext sql

In [2]:
import pymysql 
pymysql.install_as_MySQLdb()
%sql mysql://stu1900013063:stu1900013063@162.105.146.37:43306

In [ ]:
%sql use stu1900013063;

本次实习的目标是设计微信数据库，包括列举业务需求、设计ER图、将ER图转换为关系表、用SQL语句实现业务功能。

## 一、业务需求
微信提供了多种功能，我们主要关注通信和朋友圈功能。通信功能又分为两类：点对点聊天和群聊。
* __点对点聊天__：两个微信用户之间可以互相收发短信，一条短信可以引用另一条短信。
* __群聊__：多个用户可以加入同一个微信群，每个群都会有一名群主。当用户在群内发送消息时，其他所有用户都会看到消息。
* __朋友圈__：用户可以发朋友圈帖子，每个帖子都可以设置可见范围。在所有能看见帖子的用户中，只有好友才能点赞或评论。

## 二、ER图设计
根据上述业务需求，我们需要确定实体，以及实体之间的联系。

### 1. 实体
我们共设立7种实体，并确定它们各自的属性（主码用下划线来标识）：
* __用户__（<u>微信号</u>，昵称，性别，地区，手机号）
* __短信__（<u>短信ID</u>，短信类型，短信时间，短信内容）
* __群聊__（<u>群聊ID</u>，群名称，群公告，群聊创建时间）
* __群聊消息__（<u>群聊消息ID</u>，群聊消息内容，群聊消息时间）
* __朋友圈帖子__（<u>朋友圈帖子ID</u>，朋友圈内容，发布时间）

以上5种都是强实体，而对于评论和点赞，其ID都是针对同一个朋友圈帖子而言的（例如帖子0和帖子1都会有ID为0的评论或点赞），因此我们将其视作弱实体，依赖于朋友圈帖子而存在。主码应该是朋友圈帖子ID+分辨符。
* __评论__（<u>评论ID，朋友圈帖子ID</u>，评论内容，评论时间）
* __点赞__（<u>点赞ID，朋友圈帖子ID</u>）

### 2. 联系
实体之间存在着若干种联系，我们一一列举如下：
* __好友__：用户与用户之间，多对多。该联系具有“添加时间”这一属性
* __发送短信__：用户与短信之间，一对多
* __接收短信__：用户与短信之间，一对多
* __引用__：短信与短信之间，一对多
* __群主__：用户与群聊之间，一对多
* __群成员__：用户与群聊之间，多对多。该联系具有“加入时间”、“群内昵称”这两个属性
* __发送群聊消息__：用户与群聊消息之间，一对多
* __属于群聊__：群聊与群聊消息之间，一对多
* __发送朋友圈帖子__：用户与朋友圈帖子之间，一对多
* __朋友圈帖子可见__：用户与朋友圈帖子之间，多对多

对于评论和点赞这两个弱实体，它们与朋友圈帖子有标识性联系，表示隶属关系。它们也与用户之间存在“发送”联系。即：
* __评论属于__：朋友圈帖子与评论之间，一对多
* __点赞属于__：朋友圈帖子与点赞之间，一对多
* __发送评论__：用户与评论之间，一对多
* __发送点赞__：用户与点赞之间，一对多

最后考虑评论和点赞的可见关系。与“朋友圈帖子可见”关系不同，评论和点赞只有好友才能看到。为了表达这种“联系的联系”，我们将用户与用户之间的好友关系聚集为一个实体集（称其为“好友实体”），然后与评论、点赞发生联系，即：
* __评论可见__：“好友实体”与评论之间，多对多
* __点赞可见__：“好友实体”与点赞之间，多对多

### 3. ER图
根据列出的实体和联系，我们可以绘制出ER图。（注：受绘图软件功能所限，弱实体的分辨符在图中用虚线椭圆框和实下划线表示。正常应该用虚下划线表示。）
![ER图](./实习1_ER.png)

## 三、关系表创建
完成ER图的设计后，要将其转换成关系表。

7个实体各自对应一张表，要注意的是，2个弱实体的表中应有强实体的主码，代表对强实体的依附。
5个多对多联系（好友、群成员、朋友圈帖子可见、评论可见、点赞可见）需单独创建表，表的主码是联系双方的主码。
剩余的都是一对多联系，不需要创建单独的表，而应该将单方参与实体的码作为多方参与实体的属性。举例来说，“群主”联系是一对多的，则在群聊的表中加入“群主ID”属性，作为外码。

共有12张表，下面我们一一进行创建。注释中包含着一些说明。

In [ ]:
%%sql

set @@foreign_key_checks=0;

# 1. 创建用户表。应检查电话号码长度是否为11位
drop table if exists user_tb;

CREATE TABLE user_tb
(
    user_id VARCHAR(50) PRIMARY KEY,
    user_name VARCHAR(100) NOT NULL,
    user_gender ENUM('男','女') NOT NULL,
    user_district VARCHAR(100) NOT NULL,
    user_phone VARCHAR(20) NOT NULL,
    check(length(user_phone)=11)
);
set @@foreign_key_checks=1;

In [ ]:
%%sql

set @@foreign_key_checks=0;

# 2. 创建短信表。“发送短信”、“接收短信”、“引用”是一对多联系，分别对应外码send_user_id, recv_user_id, ref_id
drop table if exists message;

CREATE TABLE message
(
    msg_id INT PRIMARY KEY,
    msg_type ENUM('text','img','video') NOT NULL,
    msg_time DATETIME NOT NULL,
    msg_content VARCHAR(200),
    send_user_id VARCHAR(50) NOT NULL,
    recv_user_id VARCHAR(50) NOT NULL,
    ref_id INT,
    constraint fk_msg_s foreign key(send_user_id) references user_tb(user_id),
    constraint fk_msg_r foreign key(recv_user_id) references user_tb(user_id),
    constraint fk_msg_ref foreign key(ref_id) references message(msg_id)
);
set @@foreign_key_checks=1;

In [ ]:
%%sql

set @@foreign_key_checks=0;

# 3. 创建群聊表。“群主”是一对多联系，对应外码launcher_id
drop table if exists group_tb;

CREATE TABLE group_tb
(
    group_id INT PRIMARY KEY,
    group_name VARCHAR(100) NOT NULL,
    group_notice VARCHAR(200),
    launch_time DATE NOT NULL,
    launcher_id VARCHAR(50) NOT NULL,
    constraint fk_group_launcher foreign key(launcher_id) references user_tb(user_id)
);
set @@foreign_key_checks=1;

In [ ]:
%%sql

set @@foreign_key_checks=0;

# 4. 创建群聊消息表。“发送群聊消息”、“属于群聊”是一对多联系，分别对应外码send_id, belong_group_id
drop table if exists group_msg;

CREATE TABLE group_msg
(
    groupmsg_id INT PRIMARY KEY,
    groupmsg_content VARCHAR(200) NOT NULL,
    groupmsg_time DATE NOT NULL,
    send_id VARCHAR(50) NOT NULL,
    belong_group_id INT NOT NULL,
    constraint fk_group_msg_s foreign key(send_id) references user_tb(user_id),
    constraint fk_group_msg_b foreign key(belong_group_id) references group_tb(group_id)
);
set @@foreign_key_checks=1;

In [ ]:
%%sql

set @@foreign_key_checks=0;

# 5. 创建朋友圈帖子表。“发送朋友圈帖子”是一对多联系，对应外码poster_id
drop table if exists post_tb;

CREATE TABLE post_tb
(
    post_id INT PRIMARY KEY,
    post_content VARCHAR(200) NOT NULL,
    post_time DATETIME NOT NULL,
    poster_id VARCHAR(50) NOT NULL,
    constraint fk_post_p foreign key(poster_id) references user_tb(user_id)
);
set @@foreign_key_checks=1;

In [ ]:
%%sql

set @@foreign_key_checks=0;

# 6. 创建评论表。comment_id是分辨符，belong_post_id是强实体的主码。“发送评论”是一对多联系，comment_user_id是对应的外码
drop table if exists comment_tb;

CREATE TABLE comment_tb
(
    comment_id INT,
    comment_content VARCHAR(200) NOT NULL,
    comment_time DATETIME NOT NULL,
    belong_post_id INT NOT NULL,
    comment_user_id VARCHAR(50) NOT NULL,
    PRIMARY KEY(comment_id, belong_post_id),
    constraint fk_comment_c foreign key(comment_user_id) references user_tb(user_id)
);
set @@foreign_key_checks=1;

In [ ]:
%%sql

set @@foreign_key_checks=0;

# 7. 创建点赞表。liked_id是分辨符，liked_post_id是强实体的主码。“发送点赞”是一对多联系，liked_user_id是对应的外码
drop table if exists liked_tb;

CREATE TABLE liked_tb
(
    liked_id INT,
    liked_post_id INT,
    liked_user_id VARCHAR(50) NOT NULL,
    PRIMARY KEY(liked_id, liked_post_id),
    constraint fk_liked_l foreign key(liked_user_id) references user_tb(user_id)
);
set @@foreign_key_checks=1;

In [ ]:
%%sql

set @@foreign_key_checks=0;

# 8. 创建好友表。user_id_1和user_id_2是好友双方的主码（微信号）
drop table if exists friend;

CREATE TABLE friend
(
    user_id_1 VARCHAR(50),
    user_id_2 VARCHAR(50),
    add_time DATE,
    primary key(user_id_1,user_id_2),
    constraint fk_friend_s foreign key(user_id_1) references user_tb(user_id),
    constraint fk_friend_r foreign key(user_id_2) references user_tb(user_id)   
);
set @@foreign_key_checks=1;

In [ ]:
%%sql

set @@foreign_key_checks=0;

# 9. 创建群成员表。user_id和group_id是用户和群聊的主码
drop table if exists group_member;

CREATE TABLE group_member
(
    user_id VARCHAR(50),
    group_id INT,
    add_time DATE,
    nickname CHAR(20),
    primary key(user_id,group_id),
    constraint fk_group_member_u foreign key(user_id) references user_tb(user_id),
    constraint fk_group_member_g foreign key(group_id) references group_tb(group_id)
);
set @@foreign_key_checks=1;

In [ ]:
%%sql

set @@foreign_key_checks=0;

# 10. 创建朋友圈可见表。user_id和circle_id是用户和朋友圈帖子的主码
drop table if exists circle_friend_visible;

CREATE TABLE circle_friend_visible
(
    user_id VARCHAR(50),
    circle_id INT,
    primary key(user_id,circle_id),
    constraint fk_circle_friend_u foreign key(user_id) references user_tb(user_id),
    constraint fk_circle_friend_c foreign key(circle_id) references post_tb(post_id)
);
set @@foreign_key_checks=1;

In [ ]:
%%sql

set @@foreign_key_checks=0;

# 11. 创建点赞可见表。user_id_send和user_id_visible合起来是“好友实体”的主码，liked_id和circle_id合起来是弱实体“点赞”的主码
drop table if exists liked_visible;

CREATE TABLE liked_visible
(
    user_id_send VARCHAR(50),
    user_id_visible VARCHAR(50),
    liked_id INT,
    circle_id INT,
    primary key(user_id_send,user_id_visible,liked_id,circle_id),
    constraint us1 foreign key(user_id_send) references user_tb(user_id),
    constraint us2 foreign key(user_id_visible) references user_tb(user_id),
    constraint us3 foreign key(liked_id) references liked_tb(liked_id),
    constraint us4 foreign key(circle_id) references post_tb(post_id)
);
set @@foreign_key_checks=1;

In [ ]:
%%sql

set @@foreign_key_checks=0;

# 12. 创建评论可见表。user_id_send和user_id_visible合起来是“好友实体”的主码，remark_id和circle_id合起来是弱实体“评论”的主码
drop table if exists remark_visible;

CREATE TABLE remark_visible
(
    user_id_send VARCHAR(50),
    user_id_visible VARCHAR(50),
    remark_id INT,
    circle_id INT,
    primary key(user_id_send,user_id_visible,remark_id,circle_id),
    constraint fk_remark_s foreign key(user_id_send) references user_tb(user_id),
    constraint fk_remark_v foreign key(user_id_visible) references user_tb(user_id),
    constraint fk_remark_r foreign key(remark_id) references comment_tb(comment_id),
    constraint fk_remark_c foreign key(circle_id) references post_tb(post_id)
);
set @@foreign_key_checks=1;

In [ ]:
%%sql
/* 生成样例数据，给12张表插入一些条目 */

/* 微信用户 */
INSERT INTO user_tb(user_id,user_name,user_gender,user_district,user_phone) VALUES ('wuyuexin2001','去去','女','浙江 台州','13957676220');
INSERT INTO user_tb(user_id,user_name,user_gender,user_district,user_phone) VALUES ('wxid_kehh0x7qk9nb51','farmer John','女','山东 青岛','18813019785');
INSERT INTO user_tb(user_id,user_name,user_gender,user_district,user_phone) VALUES ('abc1360091209','紫浩','男','北京 海淀','19801198720');
INSERT INTO user_tb(user_id,user_name,user_gender,user_district,user_phone) VALUES ('visitor0','游客','男','北京 海淀','18888888888');

/* 好友关系 */
INSERT INTO friend(user_id_1, user_id_2, add_time) VALUE('wxid_kehh0x7qk9nb51', 'wuyuexin2001', '2020-05-01');
INSERT INTO friend(user_id_1, user_id_2, add_time) VALUE('wuyuexin2001', 'wxid_kehh0x7qk9nb51', '2020-05-01');
INSERT INTO friend(user_id_1, user_id_2, add_time) VALUE('abc1360091209', 'wuyuexin2001', '2022-04-10');
INSERT INTO friend(user_id_1, user_id_2, add_time) VALUE('wuyuexin2001', 'abc1360091209', '2022-04-10');
INSERT INTO friend(user_id_1, user_id_2, add_time) VALUE('visitor0', 'wxid_kehh0x7qk9nb51', '2021-04-28');
INSERT INTO friend(user_id_1, user_id_2, add_time) VALUE('wxid_kehh0x7qk9nb51', 'visitor0', '2021-04-28');
INSERT INTO friend(user_id_1, user_id_2, add_time) VALUE('visitor0', 'abc1360091209', '2022-04-09');
INSERT INTO friend(user_id_1, user_id_2, add_time) VALUE('abc1360091209', 'visitor0', '2022-04-09');
INSERT INTO friend(user_id_1, user_id_2, add_time) VALUE('wxid_kehh0x7qk9nb51', 'abc1360091209', '2020-05-02');
INSERT INTO friend(user_id_1, user_id_2, add_time) VALUE('abc1360091209', 'wxid_kehh0x7qk9nb51', '2020-05-02');

/* 消息 */
INSERT INTO message(msg_id, msg_type, msg_time, msg_content, send_user_id, recv_user_id, ref_id) VALUES(0, 'text', '2022-05-02 10:00:00', '你好', 'wuyuexin2001', 'wxid_kehh0x7qk9nb51', null);
INSERT INTO message(msg_id, msg_type, msg_time, msg_content, send_user_id, recv_user_id, ref_id) VALUES(1, 'text', '2022-05-02 11:00:00', 'hello!', 'wxid_kehh0x7qk9nb51', 'abc1360091209', null);
INSERT INTO message(msg_id, msg_type, msg_time, msg_content, send_user_id, recv_user_id, ref_id) VALUES(2, 'text', '2022-05-02 12:00:00', '你好呀！', 'abc1360091209', 'wxid_kehh0x7qk9nb51', null);
INSERT INTO message(msg_id, msg_type, msg_time, msg_content, send_user_id, recv_user_id, ref_id) VALUES(3, 'text', '2022-05-03 10:00:00', 'good morning！', 'abc1360091209', 'wuyuexin2001', null);
INSERT INTO message(msg_id, msg_type, msg_time, msg_content, send_user_id, recv_user_id, ref_id) VALUES(4, 'text', '2022-05-03 13:00:00', 'good afternoon！', 'wuyuexin2001', 'abc1360091209', null);
INSERT INTO message(msg_id, msg_type, msg_time, msg_content, send_user_id, recv_user_id, ref_id) VALUES(5, 'text', '2022-05-03 12:00:00', 'hello!', 'wxid_kehh0x7qk9nb51', 'wuyuexin2001', 0);

/* 群聊 */
INSERT INTO group_tb(group_id, group_name, group_notice, launch_time, launcher_id) VALUES(0, '数据库实习', '', '2022-04-08', 'wxid_kehh0x7qk9nb51');

/* 群成员关系 */
INSERT INTO group_member(user_id, group_id, add_time, nickname) VALUES('wuyuexin2001',0,'2022-4-1','去去');
INSERT INTO group_member(user_id, group_id, add_time, nickname) VALUES('wxid_kehh0x7qk9nb51',0,'2022-4-1','farmer John');
INSERT INTO group_member(user_id, group_id, add_time, nickname) VALUES('abc1360091209',0,'2022-4-1','紫浩');

/* 群聊消息 */
INSERT INTO group_msg(groupmsg_id, groupmsg_content, groupmsg_time, send_id, belong_group_id) VALUES(0, '什么时候开始写实习', '2022-04-08 17:00:00', 'wxid_kehh0x7qk9nb51', 0);
INSERT INTO group_msg(groupmsg_id, groupmsg_content, groupmsg_time, send_id, belong_group_id) VALUES(1, '五一就写完吧', '2022-04-08 20:00:05', 'wuyuexin2001', 0);
INSERT INTO group_msg(groupmsg_id, groupmsg_content, groupmsg_time, send_id, belong_group_id) VALUES(2, '五一就写完吧', '2022-04-09 10:30:00', 'abc1360091209', 0);

/* 朋友圈 */
INSERT INTO post_tb(post_id, post_content, post_time, poster_id) VALUES(0, '今天在写数据库实习', '2022-05-01 00:00:00', 'wxid_kehh0x7qk9nb51');

/* 朋友圈可见关系 */                                                                          
INSERT INTO circle_friend_visible(user_id, circle_id) VALUES('visitor0', 0);
INSERT INTO circle_friend_visible(user_id, circle_id) VALUES('abc1360091209', 0);
INSERT INTO circle_friend_visible(user_id, circle_id) VALUES('wxid_kehh0x7qk9nb51', 0);
INSERT INTO circle_friend_visible(user_id, circle_id) VALUES('wuyuexin2001', 0);

/* 评论 */
INSERT INTO comment_tb(comment_id, comment_content, comment_time, belong_post_id, comment_user_id) VALUES(0, '太惨了', '2022-05-01 11:00:00', 0, 'wuyuexin2001');
INSERT INTO comment_tb(comment_id, comment_content, comment_time, belong_post_id, comment_user_id) VALUES(1, '学无止境', '2022-05-01 20:00:00', 0, 'abc1360091209');
INSERT INTO comment_tb(comment_id, comment_content, comment_time, belong_post_id, comment_user_id) VALUES(2, '大佬！', '2022-05-01 20:00:00', 0, 'visitor0');

/* 评论可见关系 */
INSERT INTO remark_visible(user_id_send,user_id_visible,remark_id,circle_id) VALUES('wuyuexin2001','wxid_kehh0x7qk9nb51', 0, 0);
INSERT INTO remark_visible(user_id_send,user_id_visible,remark_id,circle_id) VALUES('wuyuexin2001','abc1360091209', 0, 0);
INSERT INTO remark_visible(user_id_send,user_id_visible,remark_id,circle_id) VALUES('abc1360091209','wuyuexin2001', 1, 0);
INSERT INTO remark_visible(user_id_send,user_id_visible,remark_id,circle_id) VALUES('abc1360091209','wxid_kehh0x7qk9nb51', 1, 0);
INSERT INTO remark_visible(user_id_send,user_id_visible,remark_id,circle_id) VALUES('visitor0','wxid_kehh0x7qk9nb51', 2, 0);
INSERT INTO remark_visible(user_id_send,user_id_visible,remark_id,circle_id) VALUES('visitor0','abc1360091209', 2, 0);

/* 点赞 */
INSERT INTO liked_tb(liked_id, liked_post_id, liked_user_id) VALUES(0, 0, 'wuyuexin2001');
INSERT INTO liked_tb(liked_id, liked_post_id, liked_user_id) VALUES(1, 0, 'abc1360091209');

/* 点赞可见关系 */
INSERT INTO liked_visible(user_id_send,user_id_visible,liked_id,circle_id) VALUES('wuyuexin2001', 'wxid_kehh0x7qk9nb51', 0, 0);
INSERT INTO liked_visible(user_id_send,user_id_visible,liked_id,circle_id) VALUES('abc1360091209', 'wxid_kehh0x7qk9nb51', 0, 0);
INSERT INTO liked_visible(user_id_send,user_id_visible,liked_id,circle_id) VALUES('wuyuexin2001', 'abc1360091209', 0, 0);
INSERT INTO liked_visible(user_id_send,user_id_visible,liked_id,circle_id) VALUES('abc1360091209', 'wuyuexin2001', 0, 0);

## 四、业务功能实现（SQL语句）
我们已经完成了关系表的创建，并插入了数据，现在我们借助PyMySQL，使用SQL语句来实现增删改查操作。
以下共列举了10种操作的方法。

In [17]:
db = pymysql.connect(host='162.105.146.37',user='stu1900013063', password='stu1900013063', port=43306,db="stu1900013063")
cursor = db.cursor()

In [18]:
# 1. 查询某人的所有好友
user_id = 'wxid_kehh0x7qk9nb51'
sql = 'select user_id_2 from friend where user_id_1 = %s'
try:
    cursor.execute(sql, (user_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

(('abc1360091209',), ('visitor0',), ('wuyuexin2001',))

In [19]:
# 2. 查询某个朋友圈的点赞数
post_id = 0
sql = 'select count(*) from post_tb, liked_tb where post_tb.post_id = %s and post_tb.post_id = liked_tb.liked_post_id'
try:
    cursor.execute(sql, (post_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

((2,),)

In [20]:
# 3. 查询可以看见某条朋友圈帖子评论的所有人的昵称
post_id = 0
comment_id = 1
sql = '''select user_name from user_tb, comment_tb, remark_visible where comment_tb.comment_id = %s and comment_tb.belong_post_id = %s 
and comment_tb.comment_id = remark_visible.remark_id and comment_tb.belong_post_id = remark_visible.circle_id 
and user_tb.user_id = remark_visible.user_id_visible'''
try:
    cursor.execute(sql, (comment_id, post_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

(('去去',), ('farmer John',))

In [21]:
# 4. 查询两个人的共同好友
user_1 = 'wuyuexin2001'
user_2 = 'visitor0'
sql = 'select F1.user_id_1 from friend F1, friend F2 where F1.user_id_1 = F2.user_id_1 and F1.user_id_2 = %s and F2.user_id_2 = %s'
try:
    cursor.execute(sql, (user_1, user_2))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

(('abc1360091209',), ('wxid_kehh0x7qk9nb51',))

In [22]:
# 5. 发布群公告
group_id = 0
notice = '明天接着做实习'
sql = 'update group_tb set group_notice = %s where group_id = %s;'
try:
    cursor.execute(sql, (notice, group_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

()

In [23]:
# 查看更改后的群公告
%sql select * from group_tb;

 * mysql://stu1900013063:***@162.105.146.37:43306
1 rows affected.

[(0, '数据库实习', '明天接着做实习', datetime.date(2022, 4, 8), 'wxid_kehh0x7qk9nb51')]

In [24]:
# 6.修改某人在某个群的群昵称
user_id = 'abc1360091209'
group_id = 0
nickname = '233'
sql = 'update group_member set nickname = %s where user_id = %s and group_id = %s'
try:
    cursor.execute(sql, (nickname, user_id, group_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

()

In [25]:
# 查看修改后的群昵称（nickname）
%sql select * from group_member;

 * mysql://stu1900013063:***@162.105.146.37:43306
3 rows affected.

[('abc1360091209', 0, datetime.date(2022, 4, 1), '233'),
 ('wuyuexin2001', 0, datetime.date(2022, 4, 1), '去去'),
 ('wxid_kehh0x7qk9nb51', 0, datetime.date(2022, 4, 1), 'farmer John')]

In [26]:
# 7. 某人根据手机号添加好友
user_id =  'visitor0'
phone = '13957676220'
add_time = '2020-05-01'
sql = '''insert into friend(user_id_1, user_id_2, add_time) VALUES (%s, (select user_id from user_tb where user_phone = %s), %s)'''
try:
    cursor.execute(sql, (user_id, phone, add_time))
    sql = '''insert into friend(user_id_1, user_id_2, add_time) VALUES((select user_id from user_tb where user_phone = %s), %s, %s)'''
    try:
        cursor.execute(sql, (phone, user_id, add_time))
        print(cursor.fetchall())
        db.commit()
    except:
        db.rollback()
except:
    db.rollback()

()

In [27]:
# 查看插入新的好友关系后的好友表（增加了2个条目）
%sql select * from friend;

 * mysql://stu1900013063:***@162.105.146.37:43306
12 rows affected.

[('abc1360091209', 'visitor0', datetime.date(2022, 4, 9)),
 ('abc1360091209', 'wuyuexin2001', datetime.date(2022, 4, 10)),
 ('abc1360091209', 'wxid_kehh0x7qk9nb51', datetime.date(2020, 5, 2)),
 ('visitor0', 'abc1360091209', datetime.date(2022, 4, 9)),
 ('visitor0', 'wuyuexin2001', datetime.date(2020, 5, 1)),
 ('visitor0', 'wxid_kehh0x7qk9nb51', datetime.date(2021, 4, 28)),
 ('wuyuexin2001', 'abc1360091209', datetime.date(2022, 4, 10)),
 ('wuyuexin2001', 'visitor0', datetime.date(2020, 5, 1)),
 ('wuyuexin2001', 'wxid_kehh0x7qk9nb51', datetime.date(2020, 5, 1)),
 ('wxid_kehh0x7qk9nb51', 'abc1360091209', datetime.date(2020, 5, 2)),
 ('wxid_kehh0x7qk9nb51', 'visitor0', datetime.date(2021, 4, 28)),
 ('wxid_kehh0x7qk9nb51', 'wuyuexin2001', datetime.date(2020, 5, 1))]

In [28]:
# 8. 发送给好友消息
msg_id = 8
msg_type = 'text'
msg_time = '2022-05-02 10:00:00'
msg_content = '嘿嘿嘿'
send_user_id = 'wuyuexin2001'
recv_user_id = 'wxid_kehh0x7qk9nb51'
ref_id = None
sql = '''insert into message(msg_id, msg_type, msg_time, msg_content, send_user_id, recv_user_id, ref_id) VALUES
(%s, %s, %s, %s, %s, %s, %s)'''
try:
    cursor.execute(sql, (msg_id, msg_type, msg_time, msg_content, send_user_id, recv_user_id, ref_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

()

In [29]:
# 查看增加的消息（最后一条）
%sql select * from message

 * mysql://stu1900013063:***@162.105.146.37:43306
7 rows affected.

[(0, 'text', datetime.datetime(2022, 5, 2, 10, 0), '你好', 'wuyuexin2001', 'wxid_kehh0x7qk9nb51', None),
 (1, 'text', datetime.datetime(2022, 5, 2, 11, 0), 'hello!', 'wxid_kehh0x7qk9nb51', 'abc1360091209', None),
 (2, 'text', datetime.datetime(2022, 5, 2, 12, 0), '你好呀！', 'abc1360091209', 'wxid_kehh0x7qk9nb51', None),
 (3, 'text', datetime.datetime(2022, 5, 3, 10, 0), 'good morning！', 'abc1360091209', 'wuyuexin2001', None),
 (4, 'text', datetime.datetime(2022, 5, 3, 13, 0), 'good afternoon！', 'wuyuexin2001', 'abc1360091209', None),
 (5, 'text', datetime.datetime(2022, 5, 3, 12, 0), 'hello!', 'wxid_kehh0x7qk9nb51', 'wuyuexin2001', 0),
 (8, 'text', datetime.datetime(2022, 5, 2, 10, 0), '嘿嘿嘿', 'wuyuexin2001', 'wxid_kehh0x7qk9nb51', None)]

In [30]:
# 9. 发送群聊消息
groupmsg_id = 5
groupmsg_content = '什么时候做完实习'
groupmsg_time = '2022-04-20 17:00:00'
send_id = 'wxid_kehh0x7qk9nb51'
belong_group_id = 0
sql = '''insert into group_msg(groupmsg_id, groupmsg_content, groupmsg_time, send_id, belong_group_id) VALUES
(%s, %s, %s, %s, %s)'''
try:
    cursor.execute(sql, (groupmsg_id, groupmsg_content, groupmsg_time, send_id, belong_group_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

()

In [31]:
# 查看增加后的群聊消息表（最后一条）
%sql select * from group_msg;

 * mysql://stu1900013063:***@162.105.146.37:43306
4 rows affected.

[(0, '什么时候开始写实习', datetime.date(2022, 4, 8), 'wxid_kehh0x7qk9nb51', 0),
 (1, '五一就写完吧', datetime.date(2022, 4, 8), 'wuyuexin2001', 0),
 (2, '五一就写完吧', datetime.date(2022, 4, 9), 'abc1360091209', 0),
 (5, '什么时候做完实习', datetime.date(2022, 4, 20), 'wxid_kehh0x7qk9nb51', 0)]

In [32]:
# 10. 某人退出群聊
user_id = 'abc1360091209'
group_id = 0
sql = 'delete from group_member where group_id = %s and user_id = %s'

try:
    cursor.execute(sql, (group_id, user_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

()

In [33]:
# 查看某人退出后的群成员表（相比第6个操作后的group_member表，少了一个条目）
%sql select * from group_member;

 * mysql://stu1900013063:***@162.105.146.37:43306
2 rows affected.

[('wuyuexin2001', 0, datetime.date(2022, 4, 1), '去去'),
 ('wxid_kehh0x7qk9nb51', 0, datetime.date(2022, 4, 1), 'farmer John')]