# 实习五：数据库性能调优

In [31]:
import pymysql
pymysql.install_as_MySQLdb()
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [32]:
%%sql 

mysql://stu2100013117:stu2100013117@162.105.146.37:43306
show databases;
use stu2100013117;
show tables;

4 rows affected.
0 rows affected.
22 rows affected.

[('Categories',),
 ('Customers',),
 ('Employees',),
 ('OrderDetails',),
 ('Orders',),
 ('Products',),
 ('Shippers',),
 ('Suppliers',),
 ('account',),
 ('bank_trans',),
 ('bank_user',),
 ('concurrent_events',),
 ('custInfo',),
 ('customers',),
 ('employees',),
 ('events',),
 ('family',),
 ('orders',),
 ('person',),
 ('person_vectors',),
 ('testIndex',),
 ('test_deadlock',)]

In [33]:
import pymysql

conn = pymysql.connect(host='162.105.146.37', port=43306, user='stu2100013117', passwd='stu2100013117', db='stu2100013117')
cursor = conn.cursor()

try:
    # 禁用外键约束
    cursor.execute("SET FOREIGN_KEY_CHECKS=0;")

    # 获取所有表的名称
    cursor.execute("SHOW TABLES")
    tables = cursor.fetchall()

    # 遍历所有表，对每一个表执行清空操作
    for table_name in tables:
        sql = f"TRUNCATE TABLE {table_name[0]}"
        cursor.execute(sql)

    # 重新启用外键约束
    cursor.execute("SET FOREIGN_KEY_CHECKS=1;")

    conn.commit()
    print("所有表的数据已清空。")
except Exception as e:
    print(f"错误：{e}")
    conn.rollback()
finally:
    cursor.close()
    conn.close()

所有表的数据已清空。

## 一、索引调优

In [34]:
%%sql
set foreign_key_checks = 0;
drop table if exists testIndex;
set foreign_key_checks = 1;

CREATE TABLE testIndex (  
    id INT AUTO_INCREMENT PRIMARY KEY,  
    A INT NOT NULL,      
    B INT NOT NULL,        
    C VARCHAR(255)        
);

 * mysql://stu2100013117:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [35]:
%%sql

INSERT INTO testIndex (A, B, C)  
VALUES  
    (1, 2, 'abc'),  
    (3, 4, 'def'),  
    (5, 6, 'ghi'),  
    (7, 8, 'jkl'),  
    (9, 10, 'mno'),  
    (11, 12, 'pqr'), 
    (13, 14, 'stu'),  
    (15, 16, 'vwx'),  
    (17, 18, 'yza'), 
    (19, 20, 'bcd'),  
    (21, 22, 'efg'),  
    (23, 24, 'hij');

 * mysql://stu2100013117:***@162.105.146.37:43306
12 rows affected.

[]

### 1. A列上的索引效果

创建索引

In [36]:
%sql CREATE INDEX idx_A ON testIndex(A);

 * mysql://stu2100013117:***@162.105.146.37:43306
0 rows affected.

[]

带有索引的查询

In [37]:
%sql EXPLAIN SELECT A, COUNT(*) FROM testIndex GROUP BY A;

 * mysql://stu2100013117:***@162.105.146.37:43306
1 rows affected.

[(1, 'SIMPLE', 'testIndex', None, 'index', 'idx_A', 'idx_A', '4', None, 12, 100.0, 'Using index')]

不带索引的查询

In [38]:
%%sql

DROP INDEX idx_A ON testIndex;  
EXPLAIN SELECT A, COUNT(*) FROM testIndex GROUP BY A;

 * mysql://stu2100013117:***@162.105.146.37:43306
0 rows affected.
1 rows affected.

[(1, 'SIMPLE', 'testIndex', None, 'ALL', None, None, None, None, 12, 100.0, 'Using temporary')]

### 2. (A, B)组合索引与A上的单列索引性能比较

In [39]:
%%sql 
CREATE INDEX idx_AB ON testIndex(A, B);
CREATE INDEX idx_A ON testIndex(A);

 * mysql://stu2100013117:***@162.105.146.37:43306
0 rows affected.
0 rows affected.

[]

带有(A, B)组合索引的查询

In [40]:
%sql EXPLAIN SELECT B FROM testIndex WHERE A = 100;

 * mysql://stu2100013117:***@162.105.146.37:43306
1 rows affected.

[(1, 'SIMPLE', 'testIndex', None, 'ref', 'idx_AB,idx_A', 'idx_AB', '4', 'const', 1, 100.0, 'Using index')]

带有A上单列索引的查询

In [41]:
%%sql
DROP INDEX idx_AB ON testIndex;  
EXPLAIN SELECT B FROM testIndex WHERE A = 100;

 * mysql://stu2100013117:***@162.105.146.37:43306
0 rows affected.
1 rows affected.

[(1, 'SIMPLE', 'testIndex', None, 'ref', 'idx_A', 'idx_A', '4', 'const', 1, 100.0, None)]

### 3. 函数索引的效果

In [42]:
%%sql
ALTER TABLE testIndex ADD COLUMN C_length INT AS (CHAR_LENGTH(C));  
CREATE INDEX idx_C_length ON testIndex(C_length);

 * mysql://stu2100013117:***@162.105.146.37:43306
0 rows affected.
0 rows affected.

[]

In [43]:
%sql EXPLAIN SELECT * FROM testIndex WHERE C_length > 10;

 * mysql://stu2100013117:***@162.105.146.37:43306
1 rows affected.

[(1, 'SIMPLE', 'testIndex', None, 'range', 'idx_C_length', 'idx_C_length', '5', None, 1, 100.0, 'Using where')]

## 二、特定问题的不同实现策略比较

In [64]:
%%sql

CREATE PROCEDURE GenerateSessionsData
    @numrows INT,  -- Total number of rows
    @numapps INT   -- Number of applications
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE dbo.Sessions;

    INSERT INTO dbo.Sessions WITH(TABLOCK)
        (keycol, app, usr, host, starttime, endtime)
    SELECT
        ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS keycol,
        'app' + CAST(1 + ABS(CHECKSUM(NEWID())) % @numapps AS VARCHAR(10)) AS app,
        'user' + CAST(1 + ABS(CHECKSUM(NEWID())) % 10 AS VARCHAR(10)) AS usr,
        'host' + CAST(1 + ABS(CHECKSUM(NEWID())) % 10 AS VARCHAR(10)) AS host,
        DATEADD(second, 1 + ABS(CHECKSUM(NEWID())) % (30*24*60*60), '20120101') AS starttime,
        DATEADD(second, 1 + ABS(CHECKSUM(NEWID())) % (20*60), DATEADD(second, 1 + ABS(CHECKSUM(NEWID())) % (30*24*60*60), '20120101')) AS endtime
    FROM dbo.GetNums(1, @numrows) AS Nums;
END;
GO

 * mysql://stu2100013117:***@162.105.146.37:43306
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '@numrows INT,  -- Total number of rows\n    @numapps INT   -- Number of applicati' at line 2")
[SQL: CREATE PROCEDURE GenerateSessionsData
    @numrows INT,  -- Total number of rows
    @numapps INT   -- Number of applications
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE dbo.Sessions;

    INSERT INTO dbo.Sessions WITH(TABLOCK)
        (keycol, app, usr, host, starttime, endtime)
    SELECT
        ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS keycol,
        'app' + CAST(1 + ABS(CHECKSUM(NEWID())) %% @numapps AS VARCHAR(10)) AS app,
        'user' + CAST(1 + ABS(CHECKSUM(NEWID())) %% 10 AS VARCHAR(10)) AS usr,
        'host' + CAST(1 + ABS(CHECKSUM(NEWID())) %% 10 AS VARCHAR(10)) AS host,
        DATEADD(second, 1 + ABS(CHECKSUM(NEWID())) %% (30*24*60*60), '20120101') AS starttime,
        DATEADD(second, 1 + ABS(CHECKSUM(NEWID())) %% (20*60), DATEADD(second, 1 + ABS(CHECKSUM(NEWID())) %% (30*24*60*60), '20120101')) AS endtime
    FROM dbo.GetNums(1, @numrows) AS Nums;
END;]
(Background on this error at: https://sqlalche.me/e/20/f405)

### 1. 集合

In [63]:
%%sql
SELECT   
    MAX(t2.timestamp - t1.timestamp) AS max_concurrent_interval  
FROM   
    concurrent_events t1  
JOIN   
    concurrent_events t2 ON t2.timestamp > t1.timestamp  
WHERE     
    t2.event_id - t1.event_id = 1;

 * mysql://stu2100013117:***@162.105.146.37:43306
1 rows affected.

[(9897,)]

### 2. 游标

In [62]:
%%sql

CREATE PROCEDURE FindMaxConcurrentInterval()
BEGIN
    DECLARE done INT DEFAULT 0;
    DECLARE curr_event_id INT;
    DECLARE curr_timestamp TIMESTAMP;
    DECLARE next_event_id INT;
    DECLARE next_timestamp TIMESTAMP;
    DECLARE max_interval INT DEFAULT 0;
    DECLARE curr_interval INT;
    
    DECLARE cur CURSOR FOR
        SELECT event_id, timestamp
        FROM concurrent_events
        ORDER BY event_id;
    
    DECLARE CONTINUE HANDLER FOR NOT FOUND SET done = 1;
    
    OPEN cur;
    
    FETCH cur INTO curr_event_id, curr_timestamp;
    
    read_loop: LOOP
        FETCH cur INTO next_event_id, next_timestamp;
        
        IF done THEN
            LEAVE read_loop;
        END IF;
        
        SET curr_interval = TIMESTAMPDIFF(SECOND, curr_timestamp, next_timestamp);
        
        IF curr_interval > max_interval THEN
            SET max_interval = curr_interval;
        END IF;
        
        SET curr_event_id = next_event_id;
        SET curr_timestamp = next_timestamp;
    END LOOP;
    
    CLOSE cur;
    
    SELECT max_interval AS max_concurrent_interval;
END;

CALL FindMaxConcurrentInterval();

 * mysql://stu2100013117:***@162.105.146.37:43306
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CALL FindMaxConcurrentInterval()' at line 44")
[SQL: CREATE PROCEDURE FindMaxConcurrentInterval()
BEGIN
    DECLARE done INT DEFAULT 0;
    DECLARE curr_event_id INT;
    DECLARE curr_timestamp TIMESTAMP;
    DECLARE next_event_id INT;
    DECLARE next_timestamp TIMESTAMP;
    DECLARE max_interval INT DEFAULT 0;
    DECLARE curr_interval INT;

    DECLARE cur CURSOR FOR
        SELECT event_id, timestamp
        FROM concurrent_events
        ORDER BY event_id;

    DECLARE CONTINUE HANDLER FOR NOT FOUND SET done = 1;

    OPEN cur;

    FETCH cur INTO curr_event_id, curr_timestamp;

    read_loop: LOOP
        FETCH cur INTO next_event_id, next_timestamp;

        IF done THEN
            LEAVE read_loop;
        END IF;

        SET curr_interval = TIMESTAMPDIFF(SECOND, curr_timestamp, next_timestamp);

        IF curr_interval > max_interval THEN
            SET max_interval = curr_interval;
        END IF;

        SET curr_event_id = next_event_id;
        SET curr_timestamp = next_timestamp;
    END LOOP;

    CLOSE cur;

    SELECT max_interval AS max_concurrent_interval;
END;

CALL FindMaxConcurrentInterval();]
(Background on this error at: https://sqlalche.me/e/20/f405)

### 3. 窗口函数

## 三、SQL Hint

### 1. INDEX_MERGE Hint

### 原理
INDEX_MERGE Hint 允许 MySQL 优化器使用多个索引的交集、并集或唯一索引的联合来检索数据。当查询条件可以匹配多个索引时，优化器可能会选择使用 INDEX_MERGE 策略来合并这些索引的扫描结果，而不是只使用一个索引。这通常可以提高查询性能，但也可能增加CPU和I/O的开销。

### 测试与对比
假设 employees 表有 last_name 和 department_id 两个字段，并且分别在这两个字段上建立了索引。现在要查询在 'Sales' 部门且姓氏为 'Smith' 的员工。

In [47]:
%%sql 
set foreign_key_checks = 0;
drop table if exists employees;
set foreign_key_checks = 1;
CREATE TABLE employees (  
    id INT AUTO_INCREMENT PRIMARY KEY,  
    last_name VARCHAR(255) NOT NULL,  
    department_id VARCHAR(50) NOT NULL,  
    INDEX idx_last_name (last_name),  
    INDEX idx_department_id (department_id)  
);

 * mysql://stu2100013117:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [48]:
%%sql
INSERT INTO employees (last_name, department_id) VALUES  
('Smith', 'Sales'),  
('Johnson', 'Sales'),  
('Williams', 'Marketing'),  
('Brown', 'HR'),  
('Taylor', 'Sales'),  
('Davis', 'Engineering'),  
('Miller', 'Marketing'),  
('Wilson', 'Finance'),  
('Anderson', 'Engineering'),  
('Thomas', 'HR');

 * mysql://stu2100013117:***@162.105.146.37:43306
10 rows affected.

[]

无 Hint 查询：

In [49]:
%sql EXPLAIN SELECT * FROM employees WHERE last_name = 'Smith' AND department_id = 'Sales';

 * mysql://stu2100013117:***@162.105.146.37:43306
1 rows affected.

[(1, 'SIMPLE', 'employees', None, 'ref', 'idx_last_name,idx_department_id', 'idx_last_name', '1022', 'const', 1, 30.0, 'Using where')]

使用 INDEX_MERGE Hint：

In [50]:
%sql EXPLAIN SELECT /*+ INDEX_MERGE(employees idx_last_name idx_department_id) */ * FROM employees WHERE last_name = 'Smith' AND department_id = 'Sales';

 * mysql://stu2100013117:***@162.105.146.37:43306
1 rows affected.

[(1, 'SIMPLE', 'employees', None, 'ref', 'idx_last_name,idx_department_id', 'idx_last_name', '1022', 'const', 1, 30.0, 'Using where')]

### 执行计划对比

无 Hint 时，优化器可能会选择其中一个索引进行扫描，或者选择全表扫描。
使用 INDEX_MERGE Hint 时，优化器会尝试使用两个索引的交集来获取结果。如果索引的数据量较大，交集较小，INDEX_MERGE 可能会更快。但如果交集很大，或者索引本身不是最优的，那么 INDEX_MERGE 可能不是最佳选择。

### 结论

当查询条件可以匹配多个索引，且这些索引的交集较小时，使用 INDEX_MERGE Hint 可能会提高查询性能。
但是，如果索引本身的选择性不高，或者数据量很小，全表扫描或者单独使用一个索引可能更加高效。

### 2. JOIN_ORDER Hint

### 原理
JOIN_ORDER Hint 允许用户指定表连接的顺序。在复杂的查询中，表连接的顺序对性能有很大影响。优化器会尝试找出最佳的连接顺序，但有时候可能不是最优的。通过 JOIN_ORDER Hint，用户可以指定一个或多个表的连接顺序，从而影响优化器的决策。

### 测试与对比
假设有两个表 orders 和 customers，通过 customer_id 字段连接。现在要查询某个客户的所有订单。

In [51]:
%%sql 
set foreign_key_checks = 0;
drop table if exists customers;
drop table if exists orders;
set foreign_key_checks = 1;

CREATE TABLE customers (  
    customer_id INT AUTO_INCREMENT PRIMARY KEY,  
    name VARCHAR(255) NOT NULL,    
    INDEX idx_name (name)  
);

CREATE TABLE orders (  
    order_id INT AUTO_INCREMENT PRIMARY KEY,  
    customer_id INT NOT NULL,  
    order_date DATE NOT NULL,  
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id),  
    INDEX idx_customer_id (customer_id)  
);

 * mysql://stu2100013117:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [52]:
%%sql
INSERT INTO customers (name) VALUES  
('John Doe'),  
('Jane Smith'),  
('Michael Johnson'),  
('Emily Williams'),  
('David Brown');

INSERT INTO orders (customer_id, order_date) VALUES  
(1, '2023-01-01'), -- John Doe  
(2, '2023-01-02'), -- Jane Smith  
(1, '2023-01-03'), -- John Doe (再次) 
(3, '2023-01-04'), -- Michael Johnson  
(4, '2023-01-05'), -- Emily Williams  
(2, '2023-01-06'), -- Jane Smith (再次)  
(5, '2023-01-07'); -- David Brown

 * mysql://stu2100013117:***@162.105.146.37:43306
5 rows affected.
7 rows affected.

[]

无 Hint 查询：

In [53]:
%sql EXPLAIN SELECT * FROM orders o JOIN customers c ON o.customer_id = c.customer_id WHERE c.name = 'John Doe';

 * mysql://stu2100013117:***@162.105.146.37:43306
2 rows affected.

[(1, 'SIMPLE', 'c', None, 'ref', 'PRIMARY,idx_name', 'idx_name', '1022', 'const', 1, 100.0, 'Using index'),
 (1, 'SIMPLE', 'o', None, 'ref', 'idx_customer_id', 'idx_customer_id', '4', 'stu2100013117.c.customer_id', 1, 100.0, None)]

使用 JOIN_ORDER Hint：

In [54]:
%sql EXPLAIN SELECT /*+ JOIN_ORDER(o, c) */ * FROM orders o JOIN customers c ON o.customer_id = c.customer_id WHERE c.name = 'John Doe';

 * mysql://stu2100013117:***@162.105.146.37:43306
2 rows affected.

[(1, 'SIMPLE', 'o', None, 'ALL', 'idx_customer_id', None, None, None, 7, 100.0, None),
 (1, 'SIMPLE', 'c', None, 'eq_ref', 'PRIMARY,idx_name', 'PRIMARY', '4', 'stu2100013117.o.customer_id', 1, 20.0, 'Using where')]

### 执行计划对比
无 Hint 时，优化器会根据统计信息和查询条件自动选择连接顺序。
使用 JOIN_ORDER Hint 时，优化器会按照指定的顺序进行连接。如果指定的顺序与数据分布和查询条件相匹配，查询性能可能会提高。否则性能可能会下降。

### 结论
在了解数据分布和查询特性的情况下，使用 JOIN_ORDER Hint 可以帮助优化器选择更好的连接顺序，从而提高查询性能。
但如果不了解数据分布和查询特性，随意指定连接顺序可能会导致性能下降。

## 四、事务调优

In [55]:
%%sql
set foreign_key_checks = 0;
drop table if exists bank_user;
drop table if exists bank_trans;
set foreign_key_checks = 1;

-- 创建用户表和转账事务表
CREATE TABLE bank_user (
    id INT,
    name CHAR(2),
    amt_sold INT,
    amt_bought INT
);

CREATE TABLE bank_trans (
    trans_id INT AUTO_INCREMENT PRIMARY KEY,
    seller_id INT,
    buyer_id INT,
    amount INT,
    processed BOOLEAN DEFAULT FALSE
);

 * mysql://stu2100013117:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [56]:
%%sql
-- 插入初始用户数据
INSERT INTO bank_user VALUES
(1,'A',1000000,1000000),
(2,'B',1000000,1000000),
(3,'C',1000000,1000000),
(4,'D',1000000,1000000),
(5,'E',1000000,1000000),
(6,'F',1000000,1000000),
(7,'G',1000000,1000000),
(8,'H',1000000,1000000),
(9,'I',1000000,1000000),
(10,'J',1000000,1000000);

 * mysql://stu2100013117:***@162.105.146.37:43306
10 rows affected.

[]

方案1

In [57]:
%%sql
START TRANSACTION;
INSERT INTO bank_trans (seller_id, buyer_id, amount) VALUES (1, 2, 1);
UPDATE bank_user SET amt_sold = amt_sold + 1 WHERE id = 1;
UPDATE bank_user SET amt_bought = amt_bought + 1 WHERE id = 2;
COMMIT;

 * mysql://stu2100013117:***@162.105.146.37:43306
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
0 rows affected.

[]

方案2

In [58]:
%%sql
START TRANSACTION;
INSERT INTO bank_trans (seller_id, buyer_id, amount) VALUES (1, 2, 1);
COMMIT;

-- 更新bank_user表
START TRANSACTION;
UPDATE bank_user SET amt_sold = amt_sold + 1 WHERE id = 1;
UPDATE bank_user SET amt_bought = amt_bought + 1 WHERE id = 2;
COMMIT;

 * mysql://stu2100013117:***@162.105.146.37:43306
0 rows affected.
1 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.
1 rows affected.
0 rows affected.

[]

方案3

In [59]:
%%sql
UPDATE bank_user AS u
JOIN bank_trans AS t ON u.id = t.buyer_id
SET u.amt_bought = u.amt_bought + t.amount
WHERE t.processed = FALSE;
UPDATE bank_trans SET processed = TRUE WHERE processed = FALSE;

 * mysql://stu2100013117:***@162.105.146.37:43306
1 rows affected.
2 rows affected.

[]