17. 最高工资所在的部门中的最低工资

In [ ]:
SELECT 
    d.dept_no, 
    MAX(s.salary_INT) AS max_salary, 
    (SELECT MIN(salary_INT) FROM salaries WHERE emp_no IN (
        SELECT emp_no FROM dept_emp WHERE dept_no = d.dept_no
    )) AS min_salary
FROM 
    dept_emp de
    JOIN employees e ON de.emp_no = e.emp_no
    JOIN salaries s ON e.emp_no = s.emp_no
    JOIN departments d ON de.dept_no = d.dept_no
GROUP BY 
    d.dept_no
ORDER BY 
    max_salary DESC
LIMIT 1;