64. 城市业绩排名前三的员工

In [ ]:
WITH SalesPerformance AS (
    SELECT
        soh.SalesPersonID,
        adr.City,
        SUM(sod.LineTotal) AS TotalSales
    FROM salesorderheader soh
    JOIN salesorderdetail sod ON soh.SalesOrderID = sod.SalesOrderID
    JOIN businessentityaddress bea ON soh.SalesPersonID = bea.BusinessEntityID
    JOIN address adr ON bea.AddressID = adr.AddressID
    GROUP BY soh.SalesPersonID, adr.City
),
RankedSalesPerformance AS (
    SELECT
        City,
        SalesPersonID,
        TotalSales,
        RANK() OVER (PARTITION BY City ORDER BY TotalSales DESC) AS SalesRank
    FROM SalesPerformance
)
SELECT City, SalesPersonID
FROM RankedSalesPerformance
WHERE SalesRank <= 3;

65. 交易多于四次的顾客

In [ ]:
SELECT soh.CustomerID, soh.SalesOrderID, soh.OrderDate
FROM salesorderheader AS soh
WHERE soh.CustomerID IN (
  SELECT CustomerID
  FROM salesorderheader
  GROUP BY CustomerID
  HAVING COUNT(DISTINCT SalesOrderID) > 4
)
ORDER BY soh.CustomerID, soh.SalesOrderID;