实习二：身份证号生成 周裕涵  
小组成员：
1900013049 陈福康
1900012455 周裕涵
1900013011 汪楚皓

In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
import pymysql
pymysql.install_as_MySQLdb()
%sql mysql://stu1900012455:stu1900012455@162.105.146.37:43306

In [4]:
%%sql
show databases

 * mysql://stu1900012455:***@162.105.146.37:43306
3 rows affected.

[('dataset',), ('information_schema',), ('stu1900012455',)]

In [5]:
%sql use stu1900012455

 * mysql://stu1900012455:***@162.105.146.37:43306
0 rows affected.

[]

从 dataset 中创建新的本地区划表

In [6]:
%sql CREATE TABLE districtCode AS (SELECT * FROM dataset.xzqh);

 * mysql://stu1900012455:***@162.105.146.37:43306
(pymysql.err.OperationalError) (1050, "Table 'districtCode' already exists")
[SQL: CREATE TABLE districtCode AS (SELECT * FROM dataset.xzqh);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [22]:
%%sql
describe districtCode;

 * mysql://stu1900012455:***@162.105.146.37:43306
2 rows affected.

[('code', 'varchar(30)', 'YES', '', None, ''),
 ('name', 'varchar(30)', 'YES', '', None, '')]

注意到多个省市可能会有同名区级行政单位，如兰州市和拉萨市均有“城关区”
因此，在根据地名获取区域码时需要判断区级代码是否与省市级代码一致

In [23]:
%%sql
select * from districtCode where name = '城关区';

 * mysql://stu1900012455:***@162.105.146.37:43306
2 rows affected.

[('540102', '城关区'), ('620102', '城关区')]

根据前17位获取校验码

In [87]:
%%sql
DROP PROCEDURE IF EXISTS GetCheckCode;
CREATE PROCEDURE GetCheckCode (
    IN partialId VARCHAR(17),
    OUT tail VARCHAR(1)
)
BEGIN
    DECLARE total INT DEFAULT 0;
    DECLARE remainder INT; 
    
    SET total = total + CAST(SUBSTR(partialId, 1, 1) AS UNSIGNED) * 7;
    SET total = total + CAST(SUBSTR(partialId, 2, 1) AS UNSIGNED) * 9;
    SET total = total + CAST(SUBSTR(partialId, 3, 1) AS UNSIGNED) * 10;
    SET total = total + CAST(SUBSTR(partialId, 4, 1) AS UNSIGNED) * 5;
    SET total = total + CAST(SUBSTR(partialId, 5, 1) AS UNSIGNED) * 8;
    SET total = total + CAST(SUBSTR(partialId, 6, 1) AS UNSIGNED) * 4;
    SET total = total + CAST(SUBSTR(partialId, 7, 1) AS UNSIGNED) * 2;
    SET total = total + CAST(SUBSTR(partialId, 8, 1) AS UNSIGNED) * 1;
    SET total = total + CAST(SUBSTR(partialId, 9, 1) AS UNSIGNED) * 6;
    SET total = total + CAST(SUBSTR(partialId, 10, 1) AS UNSIGNED) * 3;
    SET total = total + CAST(SUBSTR(partialId, 11, 1) AS UNSIGNED) * 7;
    SET total = total + CAST(SUBSTR(partialId, 12, 1) AS UNSIGNED) * 9;
    SET total = total + CAST(SUBSTR(partialId, 13, 1) AS UNSIGNED) * 10;
    SET total = total + CAST(SUBSTR(partialId, 14, 1) AS UNSIGNED) * 5;
    SET total = total + CAST(SUBSTR(partialId, 15, 1) AS UNSIGNED) * 8;
    SET total = total + CAST(SUBSTR(partialId, 16, 1) AS UNSIGNED) * 4;
    SET total = total + CAST(SUBSTR(partialId, 17, 1) AS UNSIGNED) * 2;
    
    SET remainder = total % 11;
    IF remainder = 0 THEN
        SET tail = '1';
    ELSEIF remainder = 1 THEN
        SET tail = '0';
    ELSEIF remainder = 2 THEN
        SET tail = 'X';
    ELSEIF remainder = 3 THEN
        SET tail = '9';
    ELSEIF remainder = 4 THEN
        SET tail = '8';
    ELSEIF remainder = 5 THEN
        SET tail = '7';
    ELSEIF remainder = 6 THEN
        SET tail = '6';
    ELSEIF remainder = 7 THEN
        SET tail = '5';
    ELSEIF remainder = 8 THEN
        SET tail = '4';
    ELSEIF remainder = 9 THEN
        SET tail = '3';
    ELSEIF remainder = 10 THEN
        SET tail = '2';
    END IF;
END;

 * mysql://stu1900012455:***@162.105.146.37:43306
0 rows affected.
0 rows affected.

[]

测试校验码生成是否正确

In [114]:
%%sql
CALL GetCheckCode('62010220100912101', @bit);
SELECT @bit;

 * mysql://stu1900012455:***@162.105.146.37:43306
0 rows affected.
1 rows affected.

[('8',)]

根据省市区名、出生日期和性别获取身份证号，派出所代码为随机生成的两位数值

In [112]:
%%sql
DROP PROCEDURE IF EXISTS GetIdNumber;
CREATE PROCEDURE GetIdNumber (
    IN province VARCHAR(30),
    IN city VARCHAR(30),
    IN district VARCHAR(30),
    IN birth VARCHAR(8),
    IN gender VARCHAR(10),
    OUT num VARCHAR(30)
)
BEGIN

    DECLARE regionCode VARCHAR(6);
    -- 区域代码
    SET regionCode = (
        SELECT code3.code FROM
        (SELECT code FROM districtCode WHERE name = province) AS code1,
        (SELECT code FROM districtCode WHERE name = city) AS code2,
        (SELECT code FROM districtCode WHERE name = district) AS code3
        WHERE SUBSTR(code1.code, 1, 2) = SUBSTR(code3.code, 1, 2) AND SUBSTR(code2.code, 3, 2) = SUBSTR(code3.code, 3, 2)
    );
    -- 生日
    SET num = CONCAT(regionCode, birth);
    -- 随机派出所代码（10 ～ 99）
    SET num = CONCAT(num, CAST(FLOOR(10 + RAND() * 89) AS CHAR(2)));
    -- 性别
    IF gender = '男' THEN 
        SET num = CONCAT(num, '1');
    ELSE
        SET num = CONCAT(num, '0');
    END IF;
    -- 校验码
    CALL GetCheckCode(SUBSTR(num, 1, 17), @checkCode);
    
    SET num = CONCAT(num, @checkCode);
END;

 * mysql://stu1900012455:***@162.105.146.37:43306
0 rows affected.
0 rows affected.

[]

测试身份证号生成是否正确

In [115]:
%%sql
CALL GetIdNumber('甘肃省', '兰州市', '城关区', '20100912', '男', @id);
SELECT @id;

 * mysql://stu1900012455:***@162.105.146.37:43306
0 rows affected.
1 rows affected.

[('620102201009121517',)]