数据库概论第八章事务作业

梁昱桐 2100013116

## 作业1：演示隔离性级别与不一致现象的关系

### Serializable 隔离级别

在Serializable隔离级别下，事务是完全隔离的，就像它们是按顺序执行的一样。不会发生脏读、不可重复读和幻读问题。

1. **T1先执行，T2后执行：**
   - T1执行后，Employee表中的数据为 (A, 30), (B, 30), (C, 40)
   - T2的两个查询结果（sal1 和 sal2）都将是 $30 + 30 + 40 = 100$

2. **T2先执行，T1后执行：**
   - T2执行时，Employee表中的数据为 (A, 20), (B, 30)
   - T2的两个查询结果（sal1 和 sal2）都将是 $20 + 30 = 50$
   - 然后T1执行，更新后的Employee表为 (A, 30), (B, 30), (C, 40)

综上，在Serializable隔离级别下，T2的两个查询结果（sal1 和 sal2）要么都是50，要么都是100，不会有其他可能。

### Repeatable Read 隔离级别

在Repeatable Read隔离级别下，事务可以防止脏读和不可重复读，但可能会发生幻读。在这种隔离级别下，T2在同一个事务中两次读取的数据可能会不一致。

1. **T1先执行，T2后执行：**
   - T1执行后，Employee表中的数据为 (A, 30), (B, 30), (C, 40)
   - T2的两个查询结果（sal1 和 sal2）都将是 $30 + 30 + 40 = 100$

2. **T2先执行，T1后执行：**
   - T2的第一个查询（sal1）在T1之前执行，Employee表中的数据为 (A, 20), (B, 30)
   - T2的第一个查询结果（sal1）将是 $20 + 30 = 50$
   - 然后T1执行，更新后的Employee表为 (A, 30), (B, 30), (C, 40)
   - T2的第二个查询（sal2）在T1之后执行，Employee表中的数据为 (A, 30), (B, 30), (C, 40)
   - T2的第二个查询结果（sal2）将是 $30 + 30 + 40 = 100$

综上，在Repeatable Read隔离级别下，T2的查询结果可能会有以下两种情况：
- **sal1 和 sal2 都是50**
- **sal1 是50，sal2 是100**

## 作业2： 分布式事务

这个作业的目的是希望同学们通过一个简单的实践编程，能对分布式
事务的2PC协议内容有个基本了解。同学们仿照下面的示例，能实现
一个转账事务就可以了。

In [4]:
%reload_ext sql
import pymysql 
pymysql.install_as_MySQLdb()
%sql mysql://stu2100013116:stu2100013116@162.105.146.37:43306
%sql show databases;

 * mysql://stu2100013116:***@162.105.146.37:43306
4 rows affected.

[('dataset',), ('information_schema',), ('mysql',), ('stu2100013116',)]

In [5]:
import pymysql

conn = pymysql.connect(host='162.105.146.37', port=43306, user='stu2100013081', passwd='stu2100013081', db='stu2100013081')
cursor = conn.cursor()

try:
    # 禁用外键约束
    cursor.execute("SET FOREIGN_KEY_CHECKS=0;")

    # 获取所有表的名称
    cursor.execute("SHOW TABLES")
    tables = cursor.fetchall()

    # 遍历所有表，对每一个表执行清空操作
    for table_name in tables:
        sql = f"TRUNCATE TABLE {table_name[0]}"
        cursor.execute(sql)

    # 重新启用外键约束
    cursor.execute("SET FOREIGN_KEY_CHECKS=1;")

    conn.commit()
    print("所有表的数据已清空。")
except Exception as e:
    print(f"错误：{e}")
    conn.rollback()
finally:
    cursor.close()
    conn.close()

所有表的数据已清空。

In [ ]:
# 连接数据库
db1 = pymysql.connect(host='162.105.146.37', port=43306, user='stu2100013116', password='stu2100013116', database='db1')
db2 = pymysql.connect(host='162.105.146.37', port=43306, user='stu2100013116', password='stu2100013116', database='db2')

# 获取游标对象
cursor1 = db1.cursor()
cursor2 = db2.cursor()

try:
    # 事务分支1 SQL语句
    cursor1.execute("XA START 'XA01'")
    result1 = cursor1.execute("UPDATE account SET balance = balance - 50 WHERE id = 1")
    cursor1.execute("XA END 'XA01'")

    # 事务分支2 SQL语句
    cursor2.execute("XA START 'XA02'")
    result2 = cursor2.execute("UPDATE account SET balance = balance + 50 WHERE id = 2")
    cursor2.execute("XA END 'XA02'")

    # 两阶段提交协议第一阶段
    ret1 = cursor1.execute("XA PREPARE 'XA01'")
    ret2 = cursor2.execute("XA PREPARE 'XA02'")

    # 两阶段提交协议第二阶段
    if ret1 == 0 and ret2 == 0:
        cursor1.execute("XA COMMIT 'XA01'")
        cursor2.execute("XA COMMIT 'XA02'")
    else:
        cursor1.execute("XA ROLLBACK 'XA01'")
        cursor2.execute("XA ROLLBACK 'XA02'")
        print("XA rollback")

except Exception as e:
    # 出现异常时进行回滚
    cursor1.execute("XA ROLLBACK 'XA01'")
    cursor2.execute("XA ROLLBACK 'XA02'")
    print(f"Exception occurred: {e}")

finally:
    # 关闭连接
    db1.close()
    db2.close()

## 作业3： 死锁演示

- 自己构造一个循环死锁或者转换死锁的例子，并在系统上实际运行，观察到死锁的现象，同时借助于查看锁的等待和授予信息，分析出死锁的根源
- 在具体操作时，可以开两个连接，用来形成死锁，开第三个连接，用来查询相关的锁信息

In [14]:
%reload_ext sql
import pymysql 
pymysql.install_as_MySQLdb()
%sql mysql://stu2100013116:stu2100013116@162.105.146.37:43306
%sql show databases;

 * mysql://stu2100013116:***@162.105.146.37:43306
4 rows affected.

[('dataset',), ('information_schema',), ('mysql',), ('stu2100013116',)]

In [15]:
import pymysql

conn = pymysql.connect(host='162.105.146.37', port=43306, user='stu2100013081', passwd='stu2100013081', db='stu2100013081')
cursor = conn.cursor()

try:
    # 禁用外键约束
    cursor.execute("SET FOREIGN_KEY_CHECKS=0;")

    # 获取所有表的名称
    cursor.execute("SHOW TABLES")
    tables = cursor.fetchall()

    # 遍历所有表，对每一个表执行清空操作
    for table_name in tables:
        sql = f"TRUNCATE TABLE {table_name[0]}"
        cursor.execute(sql)

    # 重新启用外键约束
    cursor.execute("SET FOREIGN_KEY_CHECKS=1;")

    conn.commit()
    print("所有表的数据已清空。")
except Exception as e:
    print(f"错误：{e}")
    conn.rollback()
finally:
    cursor.close()
    conn.close()

所有表的数据已清空。

In [18]:
%reload_ext sql
import pymysql
pymysql.install_as_MySQLdb()

# 连接到数据库
%sql mysql://stu2100013116:stu2100013116@162.105.146.37:43306/stu2100013116

# 创建表并插入初始数据
%sql CREATE TABLE IF NOT EXISTS accounts (id INT PRIMARY KEY, balance INT);
%sql INSERT INTO accounts (id, balance) VALUES (1, 100) ON DUPLICATE KEY UPDATE balance=100;
%sql INSERT INTO accounts (id, balance) VALUES (2, 200) ON DUPLICATE KEY UPDATE balance=200;

   mysql://stu2100013116:***@162.105.146.37:43306
 * mysql://stu2100013116:***@162.105.146.37:43306/stu2100013116
0 rows affected.
   mysql://stu2100013116:***@162.105.146.37:43306
 * mysql://stu2100013116:***@162.105.146.37:43306/stu2100013116
1 rows affected.
   mysql://stu2100013116:***@162.105.146.37:43306
 * mysql://stu2100013116:***@162.105.146.37:43306/stu2100013116
1 rows affected.

[]

In [20]:
import pymysql
import threading
import time

# 数据库连接配置
db_config = {
    'host': '162.105.146.37',
    'port': 43306,
    'user': 'stu2100013116',
    'password': 'stu2100013116',
    'database': 'stu2100013116'
}

# 第一个事务函数


def transaction1():
    db1 = pymysql.connect(**db_config)
    cursor1 = db1.cursor()
    try:
        cursor1.execute("BEGIN")
        cursor1.execute("UPDATE accounts SET balance = balance - 10 WHERE id = 1")
        time.sleep(2)  # 等待另一个事务锁住资源
        cursor1.execute("UPDATE accounts SET balance = balance + 10 WHERE id = 2")
        db1.commit()
    except Exception as e:
        db1.rollback()
        print(f"Transaction 1 failed: {e}")
    finally:
        db1.close()

# 第二个事务函数


def transaction2():
    db2 = pymysql.connect(**db_config)
    cursor2 = db2.cursor()
    try:
        cursor2.execute("BEGIN")
        cursor2.execute("UPDATE accounts SET balance = balance + 10 WHERE id = 2")
        time.sleep(2)  # 等待另一个事务锁住资源
        cursor2.execute("UPDATE accounts SET balance = balance - 10 WHERE id = 1")
        db2.commit()
    except Exception as e:
        db2.rollback()
        print(f"Transaction 2 failed: {e}")
    finally:
        db2.close()

# 查询锁信息


def query_locks():
    db3 = pymysql.connect(**db_config)
    cursor3 = db3.cursor()
    try:
        cursor3.execute("SHOW ENGINE INNODB STATUS")
        result = cursor3.fetchone()
        print(result)
    finally:
        db3.close()


# 创建线程来执行事务
t1 = threading.Thread(target=transaction1)
t2 = threading.Thread(target=transaction2)

# 启动线程
t1.start()
t2.start()

# 等待线程完成
t1.join()
t2.join()

# 查询锁信息
query_locks()

Transaction 1 failed: (1213, 'Deadlock found when trying to get lock; try restarting transaction')
('InnoDB', '', "\n=====================================\n2024-06-19 15:25:56 0xffff840dffc0 INNODB MONITOR OUTPUT\n=====================================\nPer second averages calculated from the last 1 seconds\n-----------------\nBACKGROUND THREAD\n-----------------\nsrv_master_thread loops: 4147 srv_active, 0 srv_shutdown, 95008 srv_idle\nsrv_master_thread log flush and writes: 0\n----------\nSEMAPHORES\n----------\nOS WAIT ARRAY INFO: reservation count 3463\nOS WAIT ARRAY INFO: signal count 4279\nRW-shared spins 4161, rounds 5882, OS waits 1790\nRW-excl spins 4608, rounds 36546, OS waits 967\nRW-sx spins 121, rounds 2695, OS waits 85\nSpin rounds per wait: 1.41 RW-shared, 7.93 RW-excl, 22.27 RW-sx\n------------------------\nLATEST DETECTED DEADLOCK\n------------------------\n2024-06-19 15:25:56 0xffff74559fc0\n*** (1) TRANSACTION:\nTRANSACTION 4571727, ACTIVE 2 sec starting index read\nmysql tables in use 1, locked 1\nLOCK WAIT 3 lock struct(s), heap size 1136, 2 row lock(s), undo log entries 1\nMySQL thread id 4016, OS thread handle 281472902037440, query id 2221309 10.129.194.41 stu2100013116 updating\nUPDATE accounts SET balance = balance - 10 WHERE id = 1\n\n*** (1) HOLDS THE LOCK(S):\nRECORD LOCKS space id 28835 page no 4 n bits 72 index PRIMARY of table `stu2100013116`.`accounts` trx id 4571727 lock_mode X locks rec but not gap\nRecord lock, heap no 3 PHYSICAL RECORD: n_fields 4; compact format; info bits 0\n 0: len 4; hex 80000002; asc     ;;\n 1: len 6; hex 00000045c24f; asc    E O;;\n 2: len 7; hex 010000091d2449; asc      $I;;\n 3: len 4; hex 800000d2; asc     ;;\n\n\n*** (1) WAITING FOR THIS LOCK TO BE GRANTED:\nRECORD LOCKS space id 28835 page no 4 n bits 72 index PRIMARY of table `stu2100013116`.`accounts` trx id 4571727 lock_mode X locks rec but not gap waiting\nRecord lock, heap no 2 PHYSICAL RECORD: n_fields 4; compact format; info bits 0\n 0: len 4; hex 80000001; asc     ;;\n 1: len 6; hex 00000045c250; asc    E P;;\n 2: len 7; hex 02000000a8109d; asc        ;;\n 3: len 4; hex 8000005a; asc    Z;;\n\n\n*** (2) TRANSACTION:\nTRANSACTION 4571728, ACTIVE 2 sec starting index read\nmysql tables in use 1, locked 1\nLOCK WAIT 3 lock struct(s), heap size 1136, 2 row lock(s), undo log entries 1\nMySQL thread id 4015, OS thread handle 281472897253312, query id 2221310 10.129.194.41 stu2100013116 updating\nUPDATE accounts SET balance = balance + 10 WHERE id = 2\n\n*** (2) HOLDS THE LOCK(S):\nRECORD LOCKS space id 28835 page no 4 n bits 72 index PRIMARY of table `stu2100013116`.`accounts` trx id 4571728 lock_mode X locks rec but not gap\nRecord lock, heap no 2 PHYSICAL RECORD: n_fields 4; compact format; info bits 0\n 0: len 4; hex 80000001; asc     ;;\n 1: len 6; hex 00000045c250; asc    E P;;\n 2: len 7; hex 02000000a8109d; asc        ;;\n 3: len 4; hex 8000005a; asc    Z;;\n\n\n*** (2) WAITING FOR THIS LOCK TO BE GRANTED:\nRECORD LOCKS space id 28835 page no 4 n bits 72 index PRIMARY of table `stu2100013116`.`accounts` trx id 4571728 lock_mode X locks rec but not gap waiting\nRecord lock, heap no 3 PHYSICAL RECORD: n_fields 4; compact format; info bits 0\n 0: len 4; hex 80000002; asc     ;;\n 1: len 6; hex 00000045c24f; asc    E O;;\n 2: len 7; hex 010000091d2449; asc      $I;;\n 3: len 4; hex 800000d2; asc     ;;\n\n*** WE ROLL BACK TRANSACTION (2)\n------------\nTRANSACTIONS\n------------\nTrx id counter 4572063\nPurge done for trx's n:o < 4572060 undo n:o < 0 state: running but idle\nHistory list length 103\nLIST OF TRANSACTIONS FOR EACH SESSION:\n---TRANSACTION 562948027476608, not started\n0 lock struct(s), heap size 1136, 0 row lock(s)\n---TRANSACTION 562948027473184, not started\n0 lock struct(s), heap size 1136, 0 row lock(s)\n---TRANSACTION 562948027470616, not started\n0 lock struct(s), heap size 1136, 0 row lock(s)\n---TRANSACTION 562948027459488, not started\n0 lock struct(s), heap size 1136, 0 row lock(s)\n---TRANSACTION 562948027475752, not started\n0 lock struct(s), heap size 1136, 0 row lock(s)\n---TRANSACTION 562948027461200, not started\n0 lock struct(s), heap size 1136, 0 row lock(s)\n---TRANSACTION 562948027458632, not started\n0 lock struct(s), heap size 1136, 0 row lock(s)\n---TRANSACTION 562948027474040, not started\n0 lock struct(s), heap size 1136, 0 row lock(s)\n---TRANSACTION 562948027457776, not started\n0 lock struct(s), heap size 1136, 0 row lock(s)\n---TRANSACTION 562948027472328, not started\n0 lock struct(s), heap size 1136, 0 row lock(s)\n---TRANSACTION 562948027462912, not started\n0 lock struct(s), heap size 1136, 0 row lock(s)\n---TRANSACTION 562948027465480, not started\n0 lock struct(s), heap size 1136, 0 row lock(s)\n---TRANSACTION 562948027462056, not started\n0 lock struct(s), heap size 1136, 0 row lock(s)\n---TRANSACTION 562948027460344, not started\n0 lock struct(s), heap size 1136, 0 row lock(s)\n---TRANSACTION 562948027468904, not started\n0 lock struct(s), heap size 1136, 0 row lock(s)\n---TRANSACTION 562948027463768, not started\n0 lock struct(s), heap size 1136, 0 row lock(s)\n---TRANSACTION 562948027467192, not started\n0 lock struct(s), heap size 1136, 0 row lock(s)\n---TRANSACTION 562948027464624, not started\n0 lock struct(s), heap size 1136, 0 row lock(s)\n---TRANSACTION 562948027456920, not started\n0 lock struct(s), heap size 1136, 0 row lock(s)\n---TRANSACTION 562948027456064, not started\n0 lock struct(s), heap size 1136, 0 row lock(s)\n---TRANSACTION 4572062, ACTIVE (PREPARED) 0 sec\n1 lock struct(s), heap size 1136, 0 row lock(s), undo log entries 1\nMySQL thread id 4014, OS thread handle 281472564895680, query id 2221326 172.17.0.1 stu1900013092 waiting for handler commit\nCOMMIT\n---TRANSACTION 4570990, ACTIVE 189 sec\n2 lock struct(s), heap size 1136, 1 row lock(s)\nMySQL thread id 3990, OS thread handle 281472902922176, query id 2188998 10.6.211.97 stu2000017788\n---TRANSACTION 4566564, ACTIVE 5236 sec\n2 lock struct(s), heap size 1136, 1 row lock(s)\nMySQL thread id 3595, OS thread handle 281472899907520, query id 2178258 172.17.0.1 stu2100013131\n---TRANSACTION 4566563, ACTIVE 5236 sec\n3 lock struct(s), heap size 1136, 2 row lock(s)\nMySQL thread id 3594, OS thread handle 281472899317696, query id 2178259 172.17.0.1 stu2100013131\n---TRANSACTION 4530019, ACTIVE (PREPARED) 39164 sec recovered trx\n4 lock struct(s), heap size 1136, 3 row lock(s), undo log entries 1\n---TRANSACTION 3901551, ACTIVE (PREPARED) 99175 sec recovered trx\n1 lock struct(s), heap size 1136, 0 row lock(s), undo log entries 1\n--------\nFILE I/O\n--------\nI/O thread 0 state: waiting for completed aio requests (insert buffer thread)\nI/O thread 1 state: waiting for completed aio requests (log thread)\nI/O thread 2 state: waiting for completed aio requests (read thread)\nI/O thread 3 state: waiting for completed aio requests (read thread)\nI/O thread 4 state: waiting for completed aio requests (read thread)\nI/O thread 5 state: waiting for completed aio requests (read thread)\nI/O thread 6 state: waiting for completed aio requests (write thread)\nI/O thread 7 state: waiting for completed aio requests (write thread)\nI/O thread 8 state: waiting for completed aio requests (write thread)\nI/O thread 9 state: waiting for completed aio requests (write thread)\nPending normal aio reads: [0, 0, 0, 0] , aio writes: [0, 0, 0, 0] ,\n ibuf aio reads:, log i/o's:, sync i/o's:\nPending flushes (fsync) log: 0; buffer pool: 14\n5827 OS file reads, 650638 OS file writes, 314736 OS fsyncs\n0.00 reads/s, 0 avg bytes/read, 235.76 writes/s, 216.78 fsyncs/s\n-------------------------------------\nINSERT BUFFER AND ADAPTIVE HASH INDEX\n-------------------------------------\nIbuf: size 1, free list len 0, seg size 2, 0 merges\nmerged operations:\n insert 0, delete mark 0, delete 0\ndiscarded operations:\n insert 0, delete mark 0, delete 0\nHash table size 34679, node heap has 2 buffer(s)\nHash table size 34679, node heap has 3 buffer(s)\nHash table size 34679, node heap has 5 buffer(s)\nHash table size 34679, node heap has 4 buffer(s)\nHash table size 34679, node heap has 7 buffer(s)\nHash table size 34679, node heap has 4 buffer(s)\nHash table size 34679, node heap has 4 buffer(s)\nHash table size 34679, node heap has 3 buffer(s)\n52.95 hash searches/s, 3.00 non-hash searches/s\n---\nLOG\n---\nLog sequence number          44576902025\nLog buffer assigned up to    44576902025\nLog buffer completed up to   44576902025\nLog written up to            44576902025\nLog flushed up to            44576902025\nAdded dirty pages up to      44576902025\nPages flushed up to          44574549871\nLast checkpoint at           44574548260\n530502 log i/o's done, 233.00 log i/o's/second\n----------------------\nBUFFER POOL AND MEMORY\n----------------------\nTotal large memory allocated 136970240\nDictionary memory allocated 1175942\nBuffer pool size   8192\nFree buffers       1023\nDatabase pages     7137\nOld database pages 2614\nModified db pages  426\nPending reads      0\nPending writes: LRU 0, flush list 0, single page 0\nPages made young 13813, not young 1787656\n0.00 youngs/s, 0.00 non-youngs/s\nPages read 3985, created 26277, written 89239\n0.00 reads/s, 0.00 creates/s, 0.00 writes/s\nBuffer pool hit rate 1000 / 1000, young-making rate 0 / 1000 not 0 / 1000\nPages read ahead 0.00/s, evicted without access 0.00/s, Random read ahead 0.00/s\nLRU len: 7137, unzip_LRU len: 0\nI/O sum[436]:cur[0], unzip sum[0]:cur[0]\n--------------\nROW OPERATIONS\n--------------\n0 queries inside InnoDB, 0 queries in queue\n0 read views open inside InnoDB\nProcess ID=24, Main thread ID=281472485285824 , state=sleeping\nNumber of rows inserted 5592618, updated 352432, deleted 0, read 63816590279\n52.95 inserts/s, 104.90 updates/s, 0.00 deletes/s, 1039.96 reads/s\nNumber of system rows inserted 11237, updated 8553, deleted 9263, read 50073\n0.00 inserts/s, 0.00 updates/s, 0.00 deletes/s, 0.00 reads/s\n----------------------------\nEND OF INNODB MONITOR OUTPUT\n============================\n")