# 实习三
成员：梁昱桐 吴墨笛 袁梦

In [3]:
import pymysql
pymysql.install_as_MySQLdb()
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [53]:
%%sql 

mysql://stu2100013117:stu2100013117@162.105.146.37:43306
show databases;
use stu2100013117;
show tables;

4 rows affected.
0 rows affected.
2 rows affected.

[('family',), ('person',)]

In [5]:
import pymysql

conn = pymysql.connect(host='162.105.146.37', port=43306, user='stu2100013117', passwd='stu2100013117', db='stu2100013117')
cursor = conn.cursor()

try:
    # 禁用外键约束
    cursor.execute("SET FOREIGN_KEY_CHECKS=0;")

    # 获取所有表的名称
    cursor.execute("SHOW TABLES")
    tables = cursor.fetchall()

    # 遍历所有表，对每一个表执行清空操作
    for table_name in tables:
        sql = f"TRUNCATE TABLE {table_name[0]}"
        cursor.execute(sql)

    # 重新启用外键约束
    cursor.execute("SET FOREIGN_KEY_CHECKS=1;")

    conn.commit()
    print("所有表的数据已清空。")
except Exception as e:
    print(f"错误：{e}")
    conn.rollback()
finally:
    cursor.close()
    conn.close()

所有表的数据已清空。

## 一.递归查询

In [6]:
%%sql
-- 删除已存在的表
set foreign_key_checks = 0;
drop table if exists family;
set foreign_key_checks = 1;

-- 创建新的表
create table family (
   father char(10), 
   son char(10) 
);
insert into family(father, son) values
('司马防','司马懿'),
('司马防','司马孚'),
('司马防','司马馗'),
('司马懿','司马师'),
('司马懿','司马昭'),
('司马懿','司马亮'),
('司马懿','司马伦'),
('司马孚','司马瑰'),
('司马馗','司马泰'),
('司马师','司马攸'),
('司马昭','司马炎'),
('司马泰','司马越'),
('司马攸','司马囧'),
('司马炎','司马衷'),
('司马炎','司马玮'),
('司马炎','司马乂'),
('司马炎','司马颖'),
('司马炎','司马炽')

 * mysql://stu2100013117:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
18 rows affected.

[]

找出兄弟关系

In [7]:
%%sql

select distinct 
    f1.son as Brother1,  
    f2.son as Brother2  
from 
    family f1  
join
    family f2 on f1.father = f2.father  
where 
    f1.son < f2.son;

 * mysql://stu2100013117:***@162.105.146.37:43306
19 rows affected.

[('司马孚', '司马懿'),
 ('司马孚', '司马馗'),
 ('司马懿', '司马馗'),
 ('司马伦', '司马师'),
 ('司马亮', '司马师'),
 ('司马伦', '司马昭'),
 ('司马亮', '司马昭'),
 ('司马师', '司马昭'),
 ('司马亮', '司马伦'),
 ('司马炽', '司马衷'),
 ('司马乂', '司马衷'),
 ('司马玮', '司马衷'),
 ('司马炽', '司马玮'),
 ('司马乂', '司马玮'),
 ('司马炽', '司马颖'),
 ('司马乂', '司马颖'),
 ('司马玮', '司马颖'),
 ('司马衷', '司马颖'),
 ('司马乂', '司马炽')]

使用递归查询找出所有祖先关系

In [9]:
%%sql

with recursive Ancestors as (  
    select father, son  
    from family  
    union all 
    select a.father, f.son  
    from Ancestors a  
    join family f on a.son = f.father  
)  
select distinct  
    father as Ancestor,  
    son as Descendant  
from  
    Ancestors;

 * mysql://stu2100013117:***@162.105.146.37:43306
48 rows affected.

[('司马防', '司马懿'),
 ('司马防', '司马孚'),
 ('司马防', '司马馗'),
 ('司马懿', '司马师'),
 ('司马懿', '司马昭'),
 ('司马懿', '司马亮'),
 ('司马懿', '司马伦'),
 ('司马孚', '司马瑰'),
 ('司马馗', '司马泰'),
 ('司马师', '司马攸'),
 ('司马昭', '司马炎'),
 ('司马泰', '司马越'),
 ('司马攸', '司马囧'),
 ('司马炎', '司马衷'),
 ('司马炎', '司马玮'),
 ('司马炎', '司马乂'),
 ('司马炎', '司马颖'),
 ('司马炎', '司马炽'),
 ('司马防', '司马师'),
 ('司马防', '司马昭'),
 ('司马防', '司马亮'),
 ('司马防', '司马伦'),
 ('司马防', '司马瑰'),
 ('司马防', '司马泰'),
 ('司马懿', '司马攸'),
 ('司马懿', '司马炎'),
 ('司马馗', '司马越'),
 ('司马师', '司马囧'),
 ('司马昭', '司马衷'),
 ('司马昭', '司马玮'),
 ('司马昭', '司马乂'),
 ('司马昭', '司马颖'),
 ('司马昭', '司马炽'),
 ('司马防', '司马攸'),
 ('司马防', '司马炎'),
 ('司马防', '司马越'),
 ('司马懿', '司马囧'),
 ('司马懿', '司马衷'),
 ('司马懿', '司马玮'),
 ('司马懿', '司马乂'),
 ('司马懿', '司马颖'),
 ('司马懿', '司马炽'),
 ('司马防', '司马囧'),
 ('司马防', '司马衷'),
 ('司马防', '司马玮'),
 ('司马防', '司马乂'),
 ('司马防', '司马颖'),
 ('司马防', '司马炽')]

自定义并找出'叔侄'关系

定义'叔侄'关系为：如果A是B父亲的兄弟，那么A是B的叔叔，B是A的侄子

In [10]:
%%sql

select distinct
    u.son as Uncle,  
    n.son as Nephew  
from  
    family u  
join  
    family f on u.father = f.father -- u.son和f.son是兄弟  
join 
    family n on f.son = n.father -- n.son是f.son的儿子  
where 
    u.son <> n.father -- 避免将父亲误认为是叔叔

 * mysql://stu2100013117:***@162.105.146.37:43306
18 rows affected.

[('司马孚', '司马师'),
 ('司马馗', '司马师'),
 ('司马孚', '司马昭'),
 ('司马馗', '司马昭'),
 ('司马孚', '司马亮'),
 ('司马馗', '司马亮'),
 ('司马孚', '司马伦'),
 ('司马馗', '司马伦'),
 ('司马懿', '司马瑰'),
 ('司马馗', '司马瑰'),
 ('司马懿', '司马泰'),
 ('司马孚', '司马泰'),
 ('司马昭', '司马攸'),
 ('司马亮', '司马攸'),
 ('司马伦', '司马攸'),
 ('司马师', '司马炎'),
 ('司马亮', '司马炎'),
 ('司马伦', '司马炎')]

## 二.窗口查询
基于窗口函数实现股票的量化因子

In [33]:
import pandas as pd
import numpy as np

在量化因子公式1-25中，选择公式12：
(sign(delta(volume, 1)) * (-1 * delta(close, 1)))

In [19]:
# 加载csv文件,并设置trade_date为索引
df = pd.read_csv('./csi_300.csv', parse_dates=['trade_date'])  
df.set_index('trade_date', inplace=True)
  
# 根据时间顺序排序  
df.sort_index(inplace=True)  
  
# 计算成交量变化和收盘价变化  
df['vol_delta'] = df.groupby('ts_code')['vol'].diff()  
df['close_delta'] = df.groupby('ts_code')['close'].diff()  
  
# 计算量化因子  
df['quant_factor'] = (df['vol_delta'] > 0).astype(int) * (-1 * df['close_delta'])  
  
# 去除第一行diff()产生的NaN
df = df.dropna()  
  
# 查看结果  
print(df[['ts_code', 'vol_delta', 'close_delta', 'quant_factor']])

              ts_code  vol_delta  close_delta  quant_factor
trade_date
2020-01-03  601088.SH  -275995.0        -0.03          0.00
2020-01-03  688036.SH   -20401.5        -0.69          0.00
2020-01-03  600760.SH    86129.2         0.96         -0.96
2020-01-03  601901.SH  -715350.0         0.05         -0.00
2020-01-03  601398.SH  -827360.0         0.02         -0.00
...               ...        ...          ...           ...
2023-07-05  300454.SZ   -13578.8        -1.74          0.00
2023-07-05  002459.SZ    25718.0        -1.45          1.45
2023-07-05  600010.SH  5262250.0         0.08         -0.08
2023-07-05  000333.SZ   -32430.0         0.22         -0.00
2023-07-05  688981.SH  -121398.0        -0.43          0.00

[247138 rows x 4 columns]

在量化因子公式26-50中，选择公式33：
rank((-1 * ((1 - (open / close))^1)))

In [31]:
df = pd.read_csv('./csi_300.csv', parse_dates=['trade_date'])    
df.set_index('trade_date', inplace=True)    
df.sort_index(inplace=True)
     
df['formula_result'] = -1 * ((1 - df['open'] / df['close'] ) ** 1)  
  
# 对每个ts_code分组内的formula_result进行排名  
df['quant_factor'] = df.groupby('ts_code')['formula_result'].rank(method='first', ascending=False) 
  
df = df.dropna()  

print(df[['ts_code', 'open', 'close', 'formula_result', 'quant_factor']])

              ts_code    open   close  formula_result  quant_factor
trade_date
2020-01-02  000001.SZ   16.65   16.87       -0.013041         674.0
2020-01-02  601225.SH    9.05    9.02        0.003326         353.0
2020-01-02  601229.SH    9.58    9.54        0.004193         247.0
2020-01-02  601236.SH   17.12   16.79        0.019655         126.0
2020-01-02  000895.SZ   29.36   30.27       -0.030063         784.0
...               ...     ...     ...             ...           ...
2023-07-05  300454.SZ  113.75  112.11        0.014628         264.0
2023-07-05  002459.SZ   39.69   38.20        0.039005          90.0
2023-07-05  600010.SH    1.81    1.91       -0.052356         815.0
2023-07-05  000333.SZ   59.09   59.12       -0.000507         440.0
2023-07-05  688981.SH   51.25   50.98        0.005296         280.0

[247437 rows x 5 columns]

在量化因子公式51-75中，选择公式54：
((-1 * ((low - close) * (open^5))) / ((low - high) * (close^5)))

In [35]:
df = pd.read_csv('./csi_300.csv', parse_dates=['trade_date'])    
df.set_index('trade_date', inplace=True)   
df.sort_index(inplace=True)  
  
df['denominator'] = ((df['low'] - df['high']) * (df['close']**5)).replace(0, np.nan)  # 分母部分,如果为0则替换为NaN  
df['numerator'] = -1 * ((df['low'] - df['close']) * (df['open'] ** 5))
    
df['quant_factor'] = np.where(df['denominator'].notnull(), df['numerator'] / df['denominator'], 0)  
 
print(df[['ts_code', 'low', 'high', 'open', 'close', 'quant_factor']])

              ts_code     low    high    open   close  quant_factor
trade_date
2020-01-02  000001.SZ   16.55   16.95   16.65   16.87     -0.749179
2020-01-02  601225.SH    8.98    9.15    9.05    9.02     -0.239233
2020-01-02  601229.SH    9.52    9.64    9.58    9.54     -0.170190
2020-01-02  601236.SH   16.79   17.30   17.12   16.79      0.000000
2020-01-02  000895.SZ   29.22   30.30   29.36   30.27     -0.834610
...               ...     ...     ...     ...     ...           ...
2023-07-05  300454.SZ  112.00  115.00  113.75  112.11     -0.039428
2023-07-05  002459.SZ   38.12   39.70   39.69   38.20     -0.061309
2023-07-05  600010.SH    1.81    1.92    1.81    1.91     -0.694758
2023-07-05  000333.SZ   58.42   59.33   59.09   59.12     -0.767281
2023-07-05  688981.SH   50.71   51.40   51.25   50.98     -0.401777

[247437 rows x 6 columns]

在量化因子公式76-101中，选择公式101:
((close - open) / ((high - low) + .001))

In [37]:
df = pd.read_csv('./csi_300.csv', parse_dates=['trade_date'])    
df.set_index('trade_date', inplace=True)  
df.sort_index(inplace=True)  
   
df['quant_factor'] = (df['close'] - df['open']) / ((df['high'] - df['low']) + .001)  
  
print(df[['ts_code', 'low', 'high', 'open', 'close', 'quant_factor']])

              ts_code     low    high    open   close  quant_factor
trade_date
2020-01-02  000001.SZ   16.55   16.95   16.65   16.87      0.548628
2020-01-02  601225.SH    8.98    9.15    9.05    9.02     -0.175439
2020-01-02  601229.SH    9.52    9.64    9.58    9.54     -0.330579
2020-01-02  601236.SH   16.79   17.30   17.12   16.79     -0.645793
2020-01-02  000895.SZ   29.22   30.30   29.36   30.27      0.841813
...               ...     ...     ...     ...     ...           ...
2023-07-05  300454.SZ  112.00  115.00  113.75  112.11     -0.546485
2023-07-05  002459.SZ   38.12   39.70   39.69   38.20     -0.942441
2023-07-05  600010.SH    1.81    1.92    1.81    1.91      0.900901
2023-07-05  000333.SZ   58.42   59.33   59.09   59.12      0.032931
2023-07-05  688981.SH   50.71   51.40   51.25   50.98     -0.390738

[247437 rows x 6 columns]

## 三.JSON操作

## 四.向量数据库实习设计

In [12]:
import pymysql
pymysql.install_as_MySQLdb()
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

第一步：建立小说表 yttlj 和人物表 person

直接从CSV文件中读取数据：

In [13]:
import pandas as pd

# 读取小说表
yttlj_df = pd.read_csv('./yttlj.csv', encoding='utf-8')

# 尝试使用不同的编码格式读取人物表
try:
    person_df = pd.read_csv('./Person.csv', encoding='utf-8')
except UnicodeDecodeError:
    try:
        person_df = pd.read_csv('./Person.csv', encoding='latin1')
    except UnicodeDecodeError:
        person_df = pd.read_csv('./Person.csv', encoding='gbk')

print(yttlj_df.head())
print(person_df.head())

   phaseId                                          phaseText
0        0  “春游浩荡，是年年寒食，梨花时节。白锦无纹香烂漫，玉树琼苞堆雪。静夜沉沉，浮光霭霭，冷浸溶溶...
1        1  作这一首《无俗念》词的，乃南宋末年一位武学名家，有道之士。此人姓丘，名处机，道号长春子，名列...
2        2  这时丘处机逝世已久，小龙女也已嫁与神雕大侠杨过为妻。在河南少室山山道之上，却另有一个少女，正...
3        3  她腰悬短剑，脸上颇有风尘之色，显是远游已久；韶华如花，正当喜乐无忧之年，可是容色间却隐隐有懊...
4        4  这少女姓郭，单名一个襄字，乃大侠郭靖和女侠黄蓉的次女，有个外号叫做“小东邪”。她一驴一剑，只...
   personid personName
0         0     ÕÅÈý·á
1         1     ÕÅ´äÉ½
2         2     ÒóËØËØ
3         3     Óáá·ÑÒ
4         4     ÓáÁ«ÖÛ

第二步：统计每个人物在多少段落中出现过

我们需要统计每个人物在多少段落中出现过，并将这个信息添加到 person 表中。

In [14]:
# 初始化一个词频列
person_df['word_count'] = 0

# 遍历每个人物
for index, person in person_df.iterrows():
    person_name = person['personName']
    count = yttlj_df['phaseText'].str.contains(person_name).sum()
    person_df.at[index, 'word_count'] = count

print(person_df)

    personid personName  word_count
0          0     ÕÅÈý·á           0
1          1     ÕÅ´äÉ½           0
2          2     ÒóËØËØ           0
3          3     Óáá·ÑÒ           0
4          4     ÓáÁ«ÖÛ           0
5          5     ÒóÀæÍ¤           0
6          6     ¼ÍÏþÜ½           0
7          7     ÕÅÎÞ¼É           0
8          8     ÖÜÜÆÈô           0
9          9       ÕÔÃô           0
10        10       ÒóÀë           0
11        11       Ð¡ÕÑ           0
12        12     ÷ìç²Ë¿           0
13        13       Ð»Ñ·           0
14        14     Öì³¤Áä           0
15        15     Öì¾ÅÕæ           0
16        16       ÑîåÐ           0
17        17       ·¶Ò£           0
18        18   Ãð¾øÊ¦Ì«           0
19        19     ºÎ×ãµÀ           0
20        20     ºúÌúÅ£           0

第三步：建立共现表 coCurrence

我们可以使用位向量或者直接统计共现次数的方式来建立共现表。这里我们直接统计共现次数。

In [15]:
import itertools

# 初始化共现表
co_currence = []

# 遍历所有人物对
for (idx1, person1), (idx2, person2) in itertools.combinations(person_df.iterrows(), 2):
    person1_name = person1['personName']
    person2_name = person2['personName']
    
    # 统计共现次数
    count = yttlj_df['phaseText'].apply(lambda x: person1_name in x and person2_name in x).sum()
    
    if count > 0:
        co_currence.append({'personId1': person1['personId'], 'personId2': person2['personId'], 'counts': count})

co_currence_df = pd.DataFrame(co_currence)
print(co_currence_df)

Empty DataFrame
Columns: []
Index: []

第四步：通过矩阵分解，得到词向量表示

我们可以使用 sklearn 中的 TruncatedSVD 来进行矩阵分解。

In [16]:
from sklearn.decomposition import TruncatedSVD
import numpy as np

# 创建人物-段落矩阵
person_phase_matrix = np.zeros((len(person_df), len(yttlj_df)))

# 填充矩阵
for i, person in person_df.iterrows():
    person_name = person['personName']
    for j, phase in yttlj_df.iterrows():
        if person_name in phase['phaseText']:
            person_phase_matrix[i, j] = 1

# 进行SVD分解
svd = TruncatedSVD(n_components=100)
person_vectors = svd.fit_transform(person_phase_matrix)

print(person_vectors)

ModuleNotFoundError: No module named 'sklearn'

第五步：将词向量存入 pgvector，计算人物之间的相似度

我们可以将词向量存入数据库并计算相似度。