In [1]:
%load_ext sql

In [2]:
import pymysql 
pymysql.install_as_MySQLdb()
%sql mysql://stu1700010762:stu1700010762@162.105.146.37:43306

In [3]:
%sql use stu1700010762

 * mysql://stu1700010762:***@162.105.146.37:43306
0 rows affected.

[]

In [4]:
%%sql
drop function if exists check_generalize;

 * mysql://stu1700010762:***@162.105.146.37:43306
0 rows affected.

[]

In [5]:
%%sql

CREATE FUNCTION check_generalize(number CHAR(17))
RETURNS CHAR
BEGIN
    DECLARE a INT;
    SET a=(CAST((SUBSTRING(number,1,1)) AS UNSIGNED)*7+CAST((SUBSTRING(number,2,1)) AS UNSIGNED)*9+
    CAST((SUBSTRING(number,3,1)) AS UNSIGNED)*10+CAST((SUBSTRING(number,4,1)) AS UNSIGNED)*5+
    CAST((SUBSTRING(number,5,1)) AS UNSIGNED)*8+CAST((SUBSTRING(number,6,1)) AS UNSIGNED)*4+
    CAST((SUBSTRING(number,7,1)) AS UNSIGNED)*2+CAST((SUBSTRING(number,8,1)) AS UNSIGNED)*1+
    CAST((SUBSTRING(number,9,1)) AS UNSIGNED)*6+CAST((SUBSTRING(number,10,1)) AS UNSIGNED)*3+
    CAST((SUBSTRING(number,11,1)) AS UNSIGNED)*7+CAST((SUBSTRING(number,12,1)) AS UNSIGNED)*9+
    CAST((SUBSTRING(number,13,1)) AS UNSIGNED)*10+CAST((SUBSTRING(number,14,1)) AS UNSIGNED)*5+
    CAST((SUBSTRING(number,15,1)) AS UNSIGNED)*8+CAST((SUBSTRING(number,16,1)) AS UNSIGNED)*4+
    CAST((SUBSTRING(number,17,1)) AS UNSIGNED)*2)%11;
    
    IF a=2
        THEN RETURN 'X';
        ELSEIF a=0
            THEN RETURN '1';
        ELSEIF a=1
            THEN RETURN '0';
    ELSE
        RETURN CAST(12-a AS CHAR);
    END IF;
END;

 * mysql://stu1700010762:***@162.105.146.37:43306
0 rows affected.

[]

In [6]:
%%sql

select check_generalize('62012119990610002')

 * mysql://stu1700010762:***@162.105.146.37:43306
1 rows affected.

[('9',)]

In [14]:
%%sql
show databases;

 * mysql://stu1700010762:***@162.105.146.37:43306
3 rows affected.

[('dataset',), ('information_schema',), ('stu1700010762',)]

In [9]:
%%sql
use dataset;

 * mysql://stu1700010762:***@162.105.146.37:43306
0 rows affected.

[]

In [7]:
%%sql
show tables;

 * mysql://stu1700010762:***@162.105.146.37:43306
1 rows affected.

[('xzqh',)]

In [11]:
%%sql
use stu1700010762;
create table xzqh like dataset.xzqh;
insert into xzqh select* from dataset.xzqh;

 * mysql://stu1700010762:***@162.105.146.37:43306
0 rows affected.
(pymysql.err.OperationalError) (1050, "Table 'xzqh' already exists")
[SQL: create table xzqh like dataset.xzqh;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [10]:
%%sql
drop procedure if exists generalize;
CREATE PROCEDURE generalize(In province varchar(8),In city varchar(8),In county varchar(8),In birthday char(8),In sex char(1),OUT id char(18))
BEGIN
    DECLARE province_id CHAR(2);
    DECLARE city_id CHAR(2);
    DECLARE county_id CHAR(2);
    DECLARE police_id CHAR(2) default "00";
    DECLARE sex_id CHAR(1);
    DECLARE seventeen CHAR(17);
    set police_id=ceiling(rand()*100);
    SET province_id=SUBSTRING(
       (select code
        from xzqh
        where name=province),1,2);
    if province_id='11'or'12'or'31'or'50'
    THEN SET city_id=SUBSTRING(
        (select code
        from xzqh
        where name=county and SUBSTRING(code,1,2)=province_id),3,2);
    else     SET city_id=SUBSTRING(
       (select code
        from xzqh
        where name=city and SUBSTRING(code,1,2)=province_id),3,2);
    end if;
    SET county_id=SUBSTRING(
        (select code
        from xzqh
        where name=county and SUBSTRING(code,1,2)=province_id and SUBSTRING(code,3,2)=city_id),5,2);
    if sex='M'
    THEN SET sex_id='3';
    else SET sex_id='2';
    end if;
    SET seventeen=CONCAT(province_id,city_id,county_id,birthday,police_id,sex_id);
    SET id=CONCAT(seventeen,check_generalize3(seventeen));
END;

 * mysql://stu1700010762:***@162.105.146.37:43306
0 rows affected.
0 rows affected.

[]

In [11]:
%%sql
call generalize('甘肃省','兰州市','永登县','19990610','M',@id);
select @id;

 * mysql://stu1700010762:***@162.105.146.37:43306
0 rows affected.
1 rows affected.

[('620121199906108733',)]

In [12]:
%%sql
call generalize('重庆市','重庆市','江北区','19690706','F',@id);
select @id;

 * mysql://stu1700010762:***@162.105.146.37:43306
0 rows affected.
1 rows affected.

[('500105196907066327',)]

In [13]:
%%sql
call generalize('重庆市','重庆市','垫江县','20010726','M',@id);
select @id;

 * mysql://stu1700010762:***@162.105.146.37:43306
0 rows affected.
1 rows affected.

[('500231200107265237',)]