# 实习四：基于SQL的数据科学项目
成员：梁昱桐 吴墨笛 袁梦

本次实习的目标是基于SQL去实践完成数据科学项目中的两个重要步骤：数据预处理和数据挖掘算法，以及基于进行分析型的综合查询

In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
import pymysql
pymysql.install_as_MySQLdb()

In [8]:
%%sql 

mysql://stu2100013081:stu2100013081@162.105.146.37:43306
show databases;
use stu2100013081;
show tables;

4 rows affected.
0 rows affected.
9 rows affected.

[('ST',),
 ('STC',),
 ('TC',),
 ('code_table',),
 ('dept',),
 ('emp',),
 ('tmpSTC',),
 ('tmptable',),
 ('world_happiness',)]

In [9]:
import pymysql

conn = pymysql.connect(host='162.105.146.37', port=43306, user='stu2100013081', passwd='stu2100013081', db='stu2100013081')
cursor = conn.cursor()

try:
    # 禁用外键约束
    cursor.execute("SET FOREIGN_KEY_CHECKS=0;")

    # 获取所有表的名称
    cursor.execute("SHOW TABLES")
    tables = cursor.fetchall()

    # 遍历所有表，对每一个表执行清空操作
    for table_name in tables:
        sql = f"TRUNCATE TABLE {table_name[0]}"
        cursor.execute(sql)

    # 重新启用外键约束
    cursor.execute("SET FOREIGN_KEY_CHECKS=1;")

    conn.commit()
    print("所有表的数据已清空。")
except Exception as e:
    print(f"错误：{e}")
    conn.rollback()
finally:
    cursor.close()
    conn.close()

所有表的数据已清空。

## 练习一：基于SQL的数据预处理

要求：   
1. 数据探索：对特定列输出基本的统计信息：平均值、最值、中位数、上下四分位数、标准差、方差、直方图分布（尽量用数据库提供的数学函数，如果没有提供就自己实现）。
2. 归一化：实现最大-最小规范化和z-score规范化
3. 缺失值：这个作为一个开放的题目留给大家，你可以简单用均值填充，也可以设计合理的推理机制来推测填充值。

In [12]:
import pandas as pd
from sqlalchemy import create_engine
import os

# 读取Excel文件
try:
    df = pd.read_excel('世界幸福指数数据集.xls')
    print(df.head())
except FileNotFoundError:
    print("文件未找到，请检查文件路径")
    exit()

# 数据库连接信息
db_user = os.getenv('DB_USER', 'stu2100013081')
db_password = os.getenv('DB_PASSWORD', 'stu2100013081')
db_host = os.getenv('DB_HOST', '162.105.146.37')
db_port = os.getenv('DB_PORT', '43306')
db_name = os.getenv('DB_NAME', 'stu2100013081')

# 检查所有变量是否正确
print(f"数据库用户: {db_user}")
print(f"数据库密码: {db_password}")
print(f"数据库主机: {db_host}")
print(f"数据库端口: {db_port}")
print(f"数据库名称: {db_name}")

# 创建数据库连接
database_url = f'mysql+pymysql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
engine = create_engine(database_url)

# 将数据写入数据库
try:
    df.to_sql('world_happiness', con=engine, index=False, if_exists='replace')
    print("数据成功写入数据库")
except Exception as e:
    print(f"数据写入数据库时发生错误: {e}")

  Country name  year  Life Ladder  Log GDP per capita  Social support  \
0  Afghanistan  2008     3.723590            7.350416        0.450662
1  Afghanistan  2009     4.401778            7.508646        0.552308
2  Afghanistan  2010     4.758381            7.613900        0.539075
3  Afghanistan  2011     3.831719            7.581259        0.521104
4  Afghanistan  2012     3.782938            7.660506        0.520637

   Healthy life expectancy at birth  Freedom to make life choices  Generosity  \
0                         50.500000                      0.718114    0.164055
1                         50.799999                      0.678896    0.187297
2                         51.099998                      0.600127    0.117861
3                         51.400002                      0.495901    0.160098
4                         51.700001                      0.530935    0.234157

   Perceptions of corruption  Positive affect  Negative affect
0                   0.881686         0.414297         0.258195
1                   0.850035         0.481421         0.237092
2                   0.706766         0.516907         0.275324
3                   0.731109         0.479835         0.267175
4                   0.775620         0.613513         0.267919
数据库用户: stu2100013081
数据库密码: stu2100013081
数据库主机: 162.105.146.37
数据库端口: 43306
数据库名称: stu2100013081
数据成功写入数据库